#  안녕하십니까 교수님. 강입으로 수업에 들어오게된 12173082 한규
#현입니다. 강입 대기기간 동안 제출하지 못한 과제를 함께 올렸습니
#다. 좋은 수업 감사합니다.

# Ch 3. 연산자와 변수
## 지은이: 인하대 소프트웨어융합공학 연계전공 한규현(12173082)

In [ ]:
# 사칙연산 실습
31 + 26 , 511 - 54 , 5 * 15 , 96 / 4

(57, 457, 75, 24.0)

In [ ]:
# //연산자
26 // 2 , 31 // 4

(13, 7)

In [ ]:
# % 연산자 연습
26 % 2 , 31 % 4

(0, 3)

In [ ]:
# 퀴즈 3-1
20 % 6 , 21 / 5 , 21 // 5

(2, 4.2, 4)

In [ ]:
# ** 연산자
2 ** 4 , 4 ** 6

(16, 4096)

In [ ]:
3.1 ** 4.2 , 2.6 ** 5.4

(115.80281433592612, 174.12297512053922)

In [ ]:
# 연산자 우선순위
(2 + 4) * 5 , 4 * (26 - 9) , (4 + 5) ** (9 - 6)

(30, 68, 729)

In [ ]:
4 * 6 - 5 , 9 + 54 / 6

(19, 18.0)

In [ ]:
2 ** 4 + 5 , 6 * 5 ** 2

(21, 150)

In [ ]:
5 * 4 + 6 , 26 + 20 / 2 , (511 // 31) ** (9 - 6)

(26, 36.0, 4096)

In [ ]:
82 * 4 + 2 , 20 + 9 / 4.5 , (15.1 / 4) ** (6 - 4)

(330, 22.0, 14.250625)

In [ ]:
5 + 12 // 7 * 3 , 15 / 2 + 21 % 4 - 2 ** 3

(8, 0.5)

In [ ]:
# 할당문
num_1 = 26
num_2 = 2 * 5 ** 2
num_1

26

In [ ]:
num_2

50

In [ ]:
num

NameError: ignored

In [ ]:
num = 5
num

5

In [ ]:
# 변수명
money$

SyntaxError: ignored

In [ ]:
7up

SyntaxError: ignored

In [ ]:
False

False

In [ ]:
#퀴즈3-3
True == X
3apples == X
elif == X
new_score == O
Brother == O

In [ ]:
#의미있는 변수명
a = 26
b = 54
c = 96
d= a + b + c
f = d / 3
#위와 같이 작성 시 협업에 문제가 생김

In [ ]:
#그러므로 가독성이 좋게 만들자!
math = 26
english = 54
history = 96
sum = math + english + history
average = sum / 3

In [ ]:
sum

176

In [ ]:
average

58.666666666666664

In [ ]:
#변수 할당
num_1 , num_2 = 511

TypeError: ignored

In [ ]:
num_1 , num_2 = 2 , 4 , 5

ValueError: ignored

In [ ]:
num_1 , num_2 =6 , 9 # 각각의 변수에 하나씩

In [ ]:
number_1 = number_2

NameError: ignored

In [ ]:
number_2 = 511

In [ ]:
number_1 = number_2

In [ ]:
number_1

511

In [ ]:
number_2

511

In [ ]:
del number_1

In [ ]:
del number_2

In [ ]:
#예제 3-13
number_1 = number_2 + 2

NameError: ignored

In [ ]:
del num_1

In [ ]:
del num_2

In [ ]:
#퀴즈 3-4
num_1 = 5
num_2 = num_1
num_1 = num_1 +2

In [ ]:
num_1

7

In [ ]:
num_2

5

In [ ]:
#복합 대입 연산자
x = 1
x += 1
x

2

In [ ]:
x -= 1
x

1

In [ ]:
#변수들의 연산식
number = 5
number = 4 * number + 6
number

26

In [ ]:
count = 0
count += 1
count

1

In [ ]:
count *= 2
count

2

In [ ]:
number = 2
number *= 5
number

10

In [ ]:
number -= 4
number

6

In [ ]:
number //= 2
number

3

In [ ]:
number %= 2
number

1

In [ ]:
#연습문제
#1.
type(96/4)  #나눗셈 연사자의 값은 float형이다.

float

In [ ]:
#2
'//' 연산자는 나눗셈 연산의 몫 만을 나타내고,
'%' 연산자는 나눗셈 연산의 나머지 만을 나타낸다.

In [ ]:
#3
변수의 값이 할당되지 않았다.

In [ ]:
#4
변수명에는 숫자가 들어갈 수 없다.

In [ ]:
#5
2 * 3 ** (1+2) , 3 ** 4 / (2 + 2) , 7 // 4 + 1  ** 5 , 6 + 11 * 2 // 4 ** 1\
, ((3 + 4)** 2) % 5 * 4

(54, 20.25, 2, 11, 16)

In [ ]:
#6
1) 변수의 이름은 문자, 숫자 그리고 _,특수문자로만 이루어진다 (X)
2) 변수명은 문자 또는 Underscore로만 시작해야 하며 숫자로는 시작할 수 없다(O)
3) 변수 Number는 number로 사용해도 된다.(X)
4) number1.number2=125입력 시 두 변수 number1.number2에 각각 125가 할당된다.(X)

In [ ]:
# 5) 아래 프로그램의 출력값은 3이다.
count = 3
count += 1
count

4

In [ ]:
count += 2
count

6

In [ ]:
출력값은 6이므로 (X)

In [ ]:
# 아래 프로그램의 출력값은 30이다
x = 10
y = 20
X += y

NameError: ignored

In [ ]:
파이썬은 대문자와 소문자를 구별하기에 X는 갑을 갖고있지 않다 그러므로(X)

In [ ]:
#7)
number1=5
number2=number1
number1 += number2
number1

10

In [ ]:
8)
**(제곱)의 결합 법칙은 ( 오른쪽 ) 에서 ( 왼쪽 ) 이다.
a+=5 의 의미를 설명하라. ( a=a+5 ) first number=3 위를 실행하였을 때 에러가
발생하는 이유를 설명하라. ( 변수명의 오류. 변수명은 문자, 숫자, _(Underscore)로만
이루어진다. 띄어쓰기 불가능 )

In [ ]:
#9)
a = 5
b = 7
result= a*b
result

35

In [ ]:
#10)
a = 123456
b = 789
portion = a // b
rest = a % b
portion

156

In [ ]:
rest

372

In [ ]:
#11) 
x = 11
y = 22  
z = x
x = y
y = z
x

22

In [ ]:
y

11

In [ ]:
#12)
r = 7
pi = 3.14
area = pi * r ** 2
area

153.86

In [ ]:
#13)
num1,num2,num3,num4 = 5,4,9,2
(num1 * num2)*(num2 - num3)*(num3 // num4)

-400

# Ch 4. 자료의 입력과 출력
## 지은이: 인하대 소프트웨어융합공학 연계전공 한규현(12173082)

In [ ]:
#퀴즈 4-1
name = 'Gildong'
location='Seoul'
print('Hello, My name is ' + name + '. And I live in '+location+'.')

Hello, My name is Gildong. And I live in Seoul.

In [ ]:
#퀴즈 4-2
string1='Hello'
string2='Python'
star='*******'
star='***'
print(star*3+string1+string2+star*3)

*********HelloPython*********

In [ ]:
#퀴즈 4-3
string1='python'
string2='programming'
len(string1)

6

In [ ]:
string3=(string1+' '+string2)
len(string3)

18

In [ ]:
#퀴즈 4-4
string1='Beautiful Weather'
firstindex=string1[0]
secondindex=string1[1]
thirdindex=string1[11]
print(firstindex+secondindex+thirdindex)

Bee

In [ ]:
#실습 4-1
string1="red apple"
string2="yellow banana"
print(string2[0:6]+' '+string1[4:])
print(string1[0:3]+' '+string2[7:])

yellow apple
red banana

In [ ]:
#퀴즈 4-5
name='Hong Gildong'
family_name = name[0:4]
family_name

'Hong'

In [ ]:
#퀴즈 4-6
favorite_color = input('What is your favorite color?')

What is your favorite color?Blue

In [ ]:
favorite_color

'Blue'

In [ ]:
#퀴즈 4-7
name = 'Gildong'
print('Hello, my name is',name)

Hello, my name is Gildong

In [ ]:
#연습문제 1.
start = '*' * 10
title = "Let's have fun"
finish = '*' * 10
print(start + title + finish)

**********Let's have fun**********

In [ ]:
#2.
title = 'Mission Impossible'
title[9:13]

'mpos'

In [ ]:
#3.
n = input('Enter the number')

Enter the number7

In [ ]:
m= n * 4
m

'7777'

In [ ]:
# m = 28 을 원한다면?
n = int(input('Enter the number'))

Enter the number7

In [ ]:
m= n * 4
m

28

In [ ]:
#4.
greeting='hello!'
greeting[0]

'h'

In [ ]:
'H'가 아닌 'h'가 나와야 한다.

In [ ]:
#5.
num_pencil = int(input("연필은 몇 개를 구입하시겠습니까?"))
num_pen = int(input("펜은 몇 개를 구입하시겠습니까? "))
total_price = num_pencil * 3000 + num_pen * 4000
print("총 가격은",0.7 * total_price,"원 입니다.")

연필은 몇 개를 구입하시겠습니까?5
펜은 몇 개를 구입하시겠습니까? 5
총 가격은 24500.0 원 입니다.

In [ ]:
#6
1) (X) -int와 float형이 함께 쓰일 경우 결괏값은 float형이다.
2) (X) -10이다. 공백을 포함하기 때문
3) (O) -input값은 string으로 인식된다.
4) (X) -she's 의 ' 에서 오류가 발생한다.
5) (X) -파이썬에선 string의 내용 일부를 변경할 수 없다.
6) (X) -string[2]의 값은  t 가 아닌 't'이다.
7) (X) - 4가지 형식의 Quote ('', "", ''' ''', """ """)가 모두 허용된다.

In [ ]:
#7
다음 문제를 보고 빈칸을 채워보시오.
( len ) 함수를 이용하면 문자열의 길이를 파악할 수 있다.
정수 입력 시 ( int ) 형을 사용하고 실수 입력 시 ( float ) 형을 사용한다.
( type ) 함수를 이용하면 형의 종류를 파악할 수 있다.

In [ ]:
#8
python = 'python is easy programming language'
python[10:25]

'easy programmin'

In [ ]:
#9
a = 'hello'
b = 'world'
a+b

'helloworld'

In [ ]:
print(a+b)

helloworld

In [ ]:
#10
string = 'My name is tommy'
print(string[0] + string[12:14])

Mom

In [ ]:
#11
number1 = input()

4

In [ ]:
number1 = int(number1)
number1 + 6

10

In [ ]:
#12
D = int(input("거리를 입력하시오.: "))
T = int(input("시간을 입력하시오.: "))
S = D/T
print("속도는",S,"입니다.")

거리를 입력하시오.: 100
시간을 입력하시오.: 3
속도는 33.333333333333336 입니다.

In [ ]:
#13
x1 = 3
y1 = 5
x2 = -1
y2 = 4
area = ((x1-x2)*(y1-y2))/2
print(area)

2.0

In [ ]:
#14
x = int(input("x를 입력하시오:"))
print("@"*x)

x를 입력하시오:10
@@@@@@@@@@

In [ ]:
#15
last_name = input("last_name을 입력하시오.")
first_name = input("first_name을 입력하시오.")
fullname = last_name+first_name
print(fullname)

last_name을 입력하시오.한
first_name을 입력하시오.규현
한규현

In [ ]:
hour = input("시각을 입력하시오.")
minute = input("분을 입력하시오.")
second = input("초를 입력하시오.")
print(hour +":" + minute + ":" + second)

시각을 입력하시오.18
분을 입력하시오.16
초를 입력하시오.40
18:16:40

# Ch_5조건에_따른_문제_해결하기(조건문)
## 지은이: 인하대 소프트웨어융합공학 연계전공 한규현(12173082)

In [ ]:
#실습 5-1
total = 30000 + 50000 + 15000 + 25000
total >= 100000

True

In [ ]:
#퀴즈 5-1
A_English_score = 80
A_math_score = 65
A_average = (A_English_score + A_math_score)/2
B_English_score =76
B_math_score = 58
B_average = (B_English_score  + B_math_score)/2
A_average > B_average

True

In [ ]:
# 실습 5-2
average = 2
F_grade = 4
average <= 1 or F_grade >= 3

True

In [ ]:
# 퀴즈 5-2
a = True
b = False
c = (a and b)
d = (a or b)
a and b

False

In [ ]:
a or (c and d)

True

In [ ]:
b and (a or c) and d

False

In [ ]:
#퀴즈 5-3
age = int(input("사용자의 나이는?"))
if age >= 20:
  print("You are an adult")

사용자의 나이는?25
You are an adult

In [ ]:
# 실습 5-3
import random
if random.random() > 0.5:
  print("앞면입니다.중국요리")
else:
  print("뒷면입니다.일본요리")

뒷면입니다.일본요리

In [ ]:
# 실습 5-4 
t = 10000
s = 30000

t_num = int(input("T-shirts 개수 "))
s_num = int(input("Sweater 개수 "))

total_price = (t * t_num) + (s * s_num)

if total_price <= 100000:
    total_price = total_price * 0.95
else:
    total_price = total_price * 0.85

print("합계 :", total_price )

T-shirts 개수 5
Sweater 개수 20
합계 : 552500.0

In [ ]:
#실습 5-5
high = int(input("키를 입력하세요 : "))
weigh = int(input("몸무게를 입력하세요 : "))

if high <= 155 and weigh <= 50:
  print("입장가능합니다.")
else:
  print("입장 불가능합니다.")

키를 입력하세요 : 165
몸무게를 입력하세요 : 60
입장 불가능합니다.

In [ ]:
#연습문제 1)
a = False
b = a
type (b)

bool

In [ ]:
# 2)
( 할당 ) 연산자인 ( = )은 변수에 어떤 값을 할당하는 데 사용하는 연산자이고,
( 비교 ) 연산자인 ( == )은 서로 다른 두 변수의 값이 같은지를 확인하는 데 사용하는
연산자이다.

In [ ]:
# 3)
if a > b
  print('***')
  print('True')
  print('***') # a와 b가 할당되지 않았습니다.

SyntaxError: ignored

In [ ]:
# 4)
iq = int(input("IQ를 적으시오"))

if iq >= 148:
  print('멘사에 가입할 수 있습니다.')
else:
  print('멘사에 가입할 수 없습니다.')

IQ를 적으시오148
멘사에 가입할 수 있습니다.

In [ ]:
# 5)
score = int(input("점수는? "))

if score >= 85:
  print("정규직 전환 가능")
else:
  print("정규직 전환 불가능")

점수는? 85
정규직 전환 가능

In [ ]:
# 6)
oil = int(input('현재 휘발유 양은?:'))

if oil < 10:
  print('휘발유 공급')
else:
  print("아직은 괜찮아요!")

현재 휘발유 양은?:11
아직은 괜찮아요!

In [ ]:
# 7)
total_credit = int(input("현재 이수 학점 : "))

if total_credit >= 140:
  print('졸업가능')
else:
  print('졸업불가능')

현재 이수 학점 : 140
졸업가능

In [ ]:
# 8)
card_money = int(input('현재 잔액 : '))

if card_money > 1200:
  print('버스 탑승 가능')
else:
  print('버스 탑승 불가능')

현재 잔액 : 1100
버스 탑승 불가능

In [ ]:
# 9)
river = int(input('강의 폭은? '))

if river > 30:
  print('강을 건널 수 없습니다.')
else:
  print("강을 건널 수 있습니다.")

강의 폭은? 35
강을 건널 수 없습니다.

In [ ]:
# 10)
aircon_d = int(input('현재 에어컨 온도는? '))

if aircon_d < 23:
  print('적정 온도가 아니니, 온도를 높여야 한다.')
else:
  print('적정 온도입니다.')

현재 에어컨 온도는? 22
적정 온도가 아니니, 온도를 높여야 한다.

In [ ]:
# 11)
vol = int(input('현재 음량은? '))

if vol >= 7:
  print('적정 음량보다 높다. 줄여야 한다.')
elif (vol < 1):
  print('오디오 음량이 아닙니다.')
else:
  ('적정음량입니다.')

현재 음량은? 10
적정 음량보다 높다. 줄여야 한다.

In [ ]:
# 12)
total_elec = int(input('전체 전기 총량 : '))
pre_elec = int(input('현재 전기 총량 : '))

if pre_elec < (total_elec * 0.3):
  print('전체 전기 총량의 30%보다 현재 전기량이 적으니, 휘발유로 주행해야 한다.')

전체 전기 총량 : 100
현재 전기 총량 : 20
전체 전기 총량의 30%보다 현재 전기량이 적으니, 휘발유로 주행해야 한다.

In [ ]:
# 13)
age = int(input('탑승객의 나이는? '))
height = int(input('탑승객의 신장은? '))

if (age < 19) and (height > 140):
  print("탑승가능하다.")
else:
  print('답승불가능하다.')

탑승객의 나이는? 19
탑승객의 신장은? 150
답승불가능하다.

In [ ]:
# 14)
canada = int(input('캐나다 대륙의 면적은?'))
china = int(input('중국 대륙의 면적은?'))

if china < canada:
  print('true')
else:
  print('false')

캐나다 대륙의 면적은?99
중국 대륙의 면적은?95
true

In [ ]:
# 15)
debit = int(input('현재 통장 잔액(만 원) : '))

if debit >= 300:
  print('주식 투자가 가능합니다.')
else:
  print('주식 투자가 불가능합니다.')

현재 통장 잔액(만 원) : 300
주식 투자가 가능합니다.

In [ ]:
# 16)
profit_percentage = int(input('이윤은? '))
profit_money = int(input('벌어들인 금액은? '))
if  (profit_percentage >= 10) or (profit_money >= 500):
  print('주식 투자를 잘한 것이다.')
else:
  print('주식 투자를 실패하였다.')

이윤은? 5
벌어들인 금액은? 540
주식 투자를 잘한 것이다.

In [ ]:
# 17)
major = str(input('학과 : '))
grade = input('학년 : ')

if (major == "컴퓨터과학과") and (grade == 4):
  print("문자가 온다.")
else:
  print('문자가 오지 않는다.')

학과 : 컴퓨터과학과
학년 : 3
문자가 오지 않는다.

In [ ]:
# 18)
coat_price = 33000
School_year = (input('학년은?'))

if School_year == "고3":
  coat_price = coat_price * 0.9
  print( coat_price, "원 입니다." )

학년은?고3
29700.0 원 입니다.

In [ ]:
# 19)
num = int(input("숫자를 입력하세요. "))

if (num % 3) == 0:
  print('3의 배수입니다.')
else:
  print('3의 배수가 아닙니다.')

숫자를 입력하세요. 33
3의 배수입니다.

In [ ]:
# 20)
number의 변수값을 정하는 프로그램이 존재하지 않는다.

In [ ]:
# 21)
apple = 1000
grape = 3000
pear = 2000
orange = 500

num_apple = int(input("사과의 개수 : "))
num_grape = int(input("포도의 개수 : "))
num_pear = int(input("배의 개수 : "))
num_orange = int(input("귤의 개수 : "))

total_fprice = (apple * num_apple) + (grape * num_grape) + (pear * num_pear) + (orange * num_orange)

if num_grape >= 3:
  print(total_fprice * 0.9, '원 입니다.' )
else:
  print(total_fprice,'원 입니다.')

사과의 개수 : 5
포도의 개수 : 5
배의 개수 : 5
귤의 개수 : 5
29250.0 원 입니다.

In [ ]:
# 22)
bank = str(input('은행 이름 : '))
way = str(input('방법 : '))
money_check = str(input('돈 or 수표 : '))

if (bank == "파이") and ((way == "카드") or (way == "통장")) and (money_check == "돈"):
  print('입금할 수 있다.')
else:
  print('입금 불가능하다.')

은행 이름 : 파이
방법 : 카드
돈 or 수표 : 수표
입금 불가능하다.

In [ ]:
# 23)
object_one = int(input('1과목 : '))
object_two = int(input('2과목 : '))
object_three = int(input('3과목 : '))

avg_object = (object_one + object_two + object_three) / 3

if ((object_one >= 60) and (object_two >= 60) and (object_three >= 60)) or (avg_object >= 70):
  print('자격증을 딸 수 있다.')
else:
  print('자격증을 딸 수 없다.')

1과목 : 90
2과목 : 70
3과목 : 50
자격증을 딸 수 있다.

In [ ]:
# 24)
num_semester = int(input('현재 학기는? '))
num_object = int(input('현재 이수 학점은? '))

if (num_semester < 8) and (num_object >= 140):
  print('조기졸업이 가능하다.')
else:
  print('조기졸업이 불가능하다.')

현재 학기는? 6
현재 이수 학점은? 150
조기졸업이 가능하다.

#Ch6_중첩조건문_한규현
##성명:한규현 학과:경제학과 학번:12173082

In [ ]:
# 실습 6-1
num1 = int(input("num1입력"))
num2 = int(input("num2입력"))

if (num1 >= 0) and (num2 >= 0):
    print("두수의 곱은 양수입니다.")
else:
    if (num1 < 0) and (num2 < 0):
        print("두수의 곱은 양수입니다.")
    else:
        print("두수의 곱은 음수입니다.")

num1입력5
num2입력3
두수의 곱은 양수입니다.

In [ ]:
# 퀴즈 6-1
if cond1 == True:
( if cond2 == True:
Statement1
else:
Statement2 )
else:
False_statements
Next_statements

In [ ]:
# 퀴즈 6-2
age = int(input('당신의 나이를 입력하세요.'))

if age >= 10:
    if age < 20:
        print('student')
    else:
        print('adult')
else:
    print('kid')

당신의 나이를 입력하세요.15
student

In [ ]:
#실습 6-2
score = int(input('점수 입력 : '))

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('D')

점수 입력 : 90
A

In [ ]:
# 실습 6-3
english = int(input("영어점수입력")) 
math = int(input("수학점수입력"))
total = english + math
if total < 110:
  print("불합격입니다")
elif english < 40 or math < 40:
  print("불합격입니다")
else :
  print("합격입니다")

영어점수입력80
수학점수입력20
불합격입니다

In [ ]:
# 퀴즈 6-3
age = int(input("당신의 나이를 입력하시오"))
if  age >= 20:
  print("adult")
elif age >= 10:
    print("student")
else:
    print("kid")

당신의 나이를 입력하시오15
student

In [ ]:
# 연습문제 1)
number = 18
if number < 10:
    if number > 5:
        print('A')
    else:
        print('B')
else:
    print('C')

C

In [ ]:
# 2)
조건이 많아지는 경우 ( if-elif-else문 )은 프로그램의 실행 시간이 짧아진다는 장점이 있는
반면 프로그램을 코딩한 사람 외에는 해당 프로그램을 해석하기 어렵다는 단점이 있다.
그러한 프로그램을 ( 중첩 조건문 )으로 프로그래밍하게 되면 프로그램의 실행 시간은
길어지는 단점이 있으나 다른 누군가가 그 프로그램을 해석하기 쉬워지는 장점이 있다.

In [ ]:
# 3) 
size = float(input('손가락 둘레 입력 : '))

if 51< size <= 52:
    print('9호')
elif 52 < size <= 53:
    print('10호')
elif 53 < size <= 54:
    print('11호')
elif 54 < size <= 55:
    print('12호')
else:
    print('반지 제작 불가')

손가락 둘레 입력 : 52.1
10호

In [ ]:
#4)
num1 = int(input("첫번째 양수"))
num2 = int(input("두번째 양수"))
cal = int(input("원하는 연산 번호 입력"))
if cal == 1:
  print(num1 + num2)
elif cal == 2:
  print(num1 - num2)
elif cal == 3:
  print(num1 * num2)
elif cal == 4:
  print(num1 / num2)
else :
  print("연산번호 재입력")

첫번째 양수55
두번째 양수5
원하는 연산 번호 입력3
275

In [ ]:
# 5)
year = int(input('해당 연도 입력 '))

if year % 400 == 0:
    print('윤년')
elif year % 4 == 0 and year % 100 != 0:
    print('윤년')
else:
    print('윤년이 아니다.')

해당 연도 입력 2020
윤년

In [ ]:
# 6)
weight = int(input("몸무게 입력"))
hight = float(input("키 입력(m)"))
bmi = weight / (hight * hight)
if bmi < 20:
  print("저체중")
elif bmi >= 20 and bmi <= 24:
  print("정상체중")
elif bmi >= 25 and bmi <= 30:
  print("경도비만")
else :
  print("비만")

몸무게 입력78
키 입력(m)1.75
경도비만

In [ ]:
# 7)
name = input('이름 : ')
part = int(input('현재 직급 입력'))

if part == 1:
    print('연봉 9000만원')
elif part == 2:
    print('연봉 6500만원')
elif part == 3:
    print('연봉 4000만원')
elif part == 4:
    print('연봉 3000만원')
elif part == 5:
    print('연봉 1000만원')
else:
    print('잘못 입력했습니다.')

이름 : 수지
현재 직급 입력4
연봉 3000만원

In [ ]:
# 8)
tall = int(input('키 입력 '))

if tall <= 140:
    print('6급 병역 면제')
elif tall <= 145:
    print('5급 제2국민역')
elif tall <= 158:
    print('4급 보충역')
else:
    print('현역병')

키 입력 156
4급 보충역

In [ ]:
# 9)
kg = float(input('몸무게 '))
cm = float(input('키(m) '))
bmi = kg / (cm * cm)

if 20 <= bmi <= 24.9:
    print('군 면제 몸무게 1급')
elif 18.5 <= bmi <= 19.9:
    print('군 면제 몸무게 2급')
elif (16 <= bmi <= 18.4) or (30 <= bmi <= 34.9):
    print('군 면제 몸무게 3급')
else:
    print('군 면제 몸무게 4급')

몸무게 56
키(m) 1.8
군 면제 몸무게 3급

In [ ]:
# 10)
gender = input('성별')
old = int(input('나이'))

if gender == '여':
    if old >= 20:
        print('적립금의 2배 적립')
    elif old >= 30:
        print('적립금의 3배 적립')
    else:
        print('적립금의 1.5배 적립')
else:
    print('적립금의 2배 적립')

성별여
나이25
적립금의 2배 적립

In [ ]:
# 11)
number1 = int(input("number1"))
number2 = int(input("number2"))

if number1 > number2:
    if (number1 % 2) == 0:
        print('첫번째 숫자가 큰 수이고 짝수')
    else:
        print('첫번째 숫자가 큰 수이고 홀수')
elif number1 < number2:
    if (number2 % 2) == 0:
        print('두번째 숫자가 큰 수이고 짝수')
    else:
        print('두번째 숫자가 큰 수이고 홀수')
else:
    print('두 수는 같은 수이다.')

number110
number28
첫번째 숫자가 큰 수이고 짝수

In [ ]:
# 12)
t1 = int(input("첫번째 변"))
t2 = int(input("두번째 변"))
t3 = int(input("세번째 변(가장 긴 변)"))

if (t1 + t2) <= t3:
    print('삼각형이 아니다.')
elif (t1 == t2 == t3):
    print('정삼각형')
elif (t1 == t2) or (t1 == t3) or (t2 == t3):
    print('이등변삼각형')
elif ((t3**2) == (t1**2 + t2**2)):
    print('직각삼각형')
else:
    print('삼각형')

첫번째 변10
두번째 변10
세번째 변(가장 긴 변)15
이등변삼각형

In [ ]:
# 13)
point = int(input('점수 입력:'))
if point >= 90:
print('A')
elif point >= 80:
print('B')
elif point >= 70:
print('C')
else:
print('D')
#조건문 다음 들여쓰기가 되어있지 않다.

IndentationError: ignored

In [ ]:
# 14)
sem = int(input('수료한 학기'))
avg_grade = float(input('평균 학점'))

if (sem == 0) or (sem > 8):
    print('장학금을 받을 수 없음')
elif avg_grade >= 4.0:
    print('전액 장학금')
elif avg_grade >= 3.5:
    print('50% 장학금')
elif avg_grade >= 3.0:
    print('30% 장학금')
else:
    print('장학금을 받을 수 없음')

수료한 학기4
평균 학점3.3
30% 장학금

In [ ]:
# 15)
hour = int(input('출근 시각의 시'))
min = int(input('출근 시각의 분'))

if hour == 9:
    if min > 30:
        print('지각')
    else:
        print('정시출근')
elif hour < 9:
    print('정시 출근')
else:
    print('지각')

출근 시각의 시9
출근 시각의 분31
지각

In [ ]:
# 16)
num1 = int(input("정수 1 "))
num2 = int(input("정수 2 "))
num3 = int(input("정수 3 "))
if num1 == num2:
  num1 = max
  if num1 >= num3:
    print(num1)
  else:
    print(num3)
else:
  max = num2
  if num2 >= num3:
    print(num2)
  else:
    print(num3)

정수 1 5
정수 2 6
정수 3 7
7

In [ ]:
# 17)
num1 = int(input("정수 1"))
num2 = int(input("정수 2"))
total = num1 + num2

if (total % 2) == 0:
    if (total % 3) == 0:
        print('합은 짝수이며 3의 배수이다.')
    else:
        print('합은 짝수이며 3의 배수는 아니다.')
elif (total % 3) == 0:
    print('합은 홀수이며 3의 배수이다.')
else:
    print('합은 홀수이며 3의 배수는 아니다.')

정수 16
정수 29
합은 홀수이며 3의 배수이다.

In [ ]:
# 18)
lucky_num = int(input('행운의 숫자 입력'))
k_num = int(input('한국인이 좋아하는 숫자 입력'))

if (lucky_num == 7) and (k_num == 3):
    print('둘 다 정답')
elif (lucky_num == 7) and (k_num != 3):
    print('행운의 숫자만 정답')
elif (lucky_num != 7) and (k_num == 3):
    print('한국인이 좋아하는 숫자만 정답')
else:
    print('둘 다 오답')

행운의 숫자 입력7
한국인이 좋아하는 숫자 입력7
행운의 숫자만 정답

In [ ]:
#19)
luv = input("'사랑해'라는 말은 외국어로? ")

if luv == 'I love you':
    print('영어')
elif luv == 'Ti amo':
    print('이탈리아어')
elif luv == 'Aishiteru':
    print('일본어')
elif luv == 'Te qiero':
    print('스페인어')
elif luv == 'Wo ai ni':
    print('중국어')
elif luv == 'Ich liebe dich':
    print('독일어')
else:
    print('잘 모르겠습니다')

'사랑해'라는 말은 외국어로? Ti amo
이탈리아어

In [ ]:
# 20)
num1 = int(input("정수 1 입력"))
num2 = int(input("정수 2 입력"))
num3 = int(input("정수 3 입력"))

if num1 <= num2:
    min = num1
    if num1 <= num3:
        print('가장 작은 수 :', min)
    else:
        min = num3
        print('가장 작은 수 :', min)
else:
    min = num2
    if num2 <= num3:
        print('가장 작은 수 :', min)
    else:
        min = num3
        print('가장 작은 수 :', min)

정수 1 입력6
정수 2 입력8
정수 3 입력7
가장 작은 수 : 6

In [ ]:
# 21)
num1 = int(input("정수 1 입력"))
num2 = int(input("정수 2 입력"))
num3 = int(input("정수 3 입력"))

total= num1 + num2 + num3

if (total % 2) == 0:
    if num1 >= num2:
        max = num1
        if num1 >= num3:
            print('합은 짝수, 가장 큰 수는 %d' % max)
        else:
            max = num3
            print('합은 짝수, 가장 큰 수는 %d' % max)
    else:
        max = num2
        if num2 >= num3:
            print('합은 짝수, 가장 큰 수는 %d' % max)
        else:
            max = num3
            print('합은 짝수, 가장 큰 수는 %d' % max)
else:
    print('합은 홀수, %d' % total)

정수 1 입력4
정수 2 입력8
정수 3 입력10
합은 짝수, 가장 큰 수는 10

In [ ]:
# 22)
x1 = int(input("점1의 x좌표"))
y1 = int(input("점1의 y좌표"))
x2 = int(input("점2의 x좌표"))
y2 = int(input("점2의 y좌표"))

if (x1 >= x2) and (y1 >= y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
 
elif (x1 >= x2) and (y1 < y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
  
elif (x1 < x2) and (y1 >= y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
  
else :
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)

점1의 x좌표10
점1의 y좌표12
점2의 x좌표5
점2의 y좌표15
5.830951894845301

In [ ]:
# 23)
time = int(input('출국 전 남은 기간 : '))
country = input('여행할 국가 : ')

UK = 70
France = 67
Germany = 63
Greece = 60

if time >= 45:
    if country == '영국':
        price = UK * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '프랑스':
        price = France * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '독일':
        price = Germany * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '그리스':
        price = Greece * 0.95
        print('5% 할인')
        print('가격 :',price)
    else:
        print('해당 국가 없음')
elif time >= 30:
    if country == '영국':
        price = UK * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '프랑스':
        price = France * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '독일':
        price = Germany * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '그리스':
        price = Greece * 0.97
        print('3% 할인')
        print('가격 :',price)
    else:
        print('해당 국가 없음')
else:
    if country == '영국':
        print('가격 :',UK)
    elif country == '프랑스':
        print('가격 :',France)
    elif country == '독일':
        print('가격 :',Germany)
    elif country == '그리스':
        print('가격 :',Greece)
    else:
        print('해당 국가 없음')

출국 전 남은 기간 : 45
여행할 국가 : 프랑스
5% 할인
가격 : 63.65

#7장. 구성이 다른 자료 – list
## 성명:한규현 학과:경제학과 학번:12173082

In [ ]:
# 실습 7-1
list1=["risk","issue","test","maintenance","maturiy"]
list2=["security","plan","design","systematic","safety"]
list3=["maintenance","verification","validation"]

if "maintenance" in list1 and len(list1)>=5:
  print("list1은 적합합니다.")
elif "maintenance" in list2 and len(list2)>=5:
  print("list2은 적합합니다.")
elif "maintenance" in list3 and len(list3)>=5:
  print("list3은 적합합니다.")
else:
  print("적합한 리스트가 없습니다")

list1은 적합합니다.

In [ ]:
# 퀴즈 7-1
list1 = ['a', 'b', ['c', 'd'], '1', [2, 3], 'e']
len(list1)

6

In [ ]:
['b'] in list1

False

In [ ]:
['c', 'd'] in list1

True

In [ ]:
'a' in list1

True

In [ ]:
#퀴즈 7-2
list_odd = [1,3,5,7,9]
list_even = [2,4,6,8,10]
list_odd[-3]

5

In [ ]:
list_even[1+3]

10

In [ ]:
list_odd + list_even

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
list_odd * 2

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [ ]:
# 퀴즈 7-3
list_1 = [1,2,3,4,5,6,7,8,9]
list_1[:3]

[1, 2, 3]

In [ ]:
list_1[0:3]

[1, 2, 3]

In [ ]:
list_1[3:5]

[4, 5]

In [ ]:
list_1[3:]

[4, 5, 6, 7, 8, 9]

In [ ]:
list_1[3:999]

[4, 5, 6, 7, 8, 9]

In [ ]:
# 실습 7-2
spell_re = ['r','e']
spell_serve = ['s','e','r','v','e']
spell_reserve = spell_re + spell_serve
spell_reserve

['r', 'e', 's', 'e', 'r', 'v', 'e']

In [ ]:
spell_reserve[0:2] = ['o','b']
spell_reserve

['o', 'b', 's', 'e', 'r', 'v', 'e']

In [ ]:
# 퀴즈 7-4
string = ['a','b','c','d','e','f']
string[0:3]

['a', 'b', 'c']

In [ ]:
string[2:5]

['c', 'd', 'e']

In [ ]:
string[1:3]

['b', 'c']

In [ ]:
#연습문제 1)
list3 = ['n','e','w','l','i','s','t']
list4 = ['n','e','w','s','t','r','i','n','g']
list_new = list3[:3] + list4[6:]
print(list_new)

['n', 'e', 'w', 'i', 'n', 'g']

In [ ]:
# 2)
title = ['P','r','o','g','r','a','m','m','i','n','g']
title[:7]

['P', 'r', 'o', 'g', 'r', 'a', 'm']

In [ ]:
# 3)
word = ['happy','love','I','am','You']
word_Iamhappy = word[2] + ' ' + word[3] + ' ' + word[0]
print(word_Iamhappy)

I am happy

In [ ]:
# 4)
names = ['철수','영희','수지','수정','길동','영철']
'수정' in names

True

In [ ]:
# 5)
rotto = [1,2,3,6,7]
if len(rotto) == 6:
    print('통과')
else:
    print('6개의 숫자를 입력하시오.')

6개의 숫자를 입력하시오.

In [ ]:
# 6)
word = ['h','i','m','y','n','a','m','e','i','s']
print(word[4:8])

['n', 'a', 'm', 'e']

In [ ]:
# 7)
introduce = ['내', '이', '름', '은', '수', '지', '야']
introduce[4:6] = ['민', '수']
print(introduce)

['내', '이', '름', '은', '민', '수', '야']

In [ ]:
# 8)
winner = ['박민아','정민호','김철수','이영희','손수정']
'정수지' in winner

False

In [ ]:
'김철수' not in winner

False

In [ ]:
'박민아' in winner

True

In [ ]:
'전은진' not in winner

True

In [ ]:
# 9)
phone = ['수지','민지','철수','미소']
phone [0] = '010-7897-4564'
phone [1] = '010-7897-4563'
phone [2] = '010-7897-4562'
phone [3] = '010-7897-4561'
print(phone)

['010-7897-4564', '010-7897-4563', '010-7897-4562', '010-7897-4561']

In [ ]:
# 10)
score = {'Peter':100, 'john':0, 'mina':55, 'tim':75, 'cony':95}
print(score['tim'])

75

In [ ]:
# 11)
string = ['happy','love','dog','cat']
num = [1,2,6,3,9,5]
empty = []
mix = [4,0,'hi',1,'sun','x']

total = (len(string)) + (len(num)) + (len(empty)) + (len(mix))

print(total)

16

In [ ]:
# 12)
str_b = ['boy','is']
str_g = ['girl','is']
str_bad = ['bad']
str_good = ['good']

print(str_b + str_bad)
print(str_g + str_good)

['boy', 'is', 'bad']
['girl', 'is', 'good']

In [ ]:
# 13)
spell1 = ['j','e','s','u','s']
spell1[2:] = ['l','l','y']
print(spell1)

['j', 'e', 'l', 'l', 'y']

In [ ]:
# 14)
season = ['spring','summer','fall','winter']
season2 = season * 2
season2[4:] = ['winter'] * 4
print(season2)

['spring', 'summer', 'fall', 'winter', 'winter', 'winter', 'winter', 'winter']

In [ ]:
# 15)
word = ['I','like','You','He','her','love','hate','dog']
print(word[0],word[5],word[2])

I love You

In [ ]:
# 16)
import random
week = ['월','화','수','목','금','토','일']
day = random.randint(0,6)
print(week[day])

목

In [ ]:
# 17)
find_word = ['t','e','c','h','n','o','l','o','g','y']
word1 = find_word[2] + find_word[5] + find_word[7] + find_word[6]
word2 = find_word[0] + find_word[5] + find_word[7] + find_word[6]
word3 = find_word[1] + find_word[8] + find_word[7]
word4 = find_word[0] + find_word[5] + find_word[9]
print(word1,word2,word3,word4)

cool tool ego toy

In [ ]:
# 18)
call = input('이름을 입력하세요')
phone_book={'min':'010-1234-5678','jin':'010-2345-6789','jay':'010-2585-8525','ken':'010-9876-5432','ain':'010-8765-4321'}
print(phone_book[name])

이름을 입력하세요jin
010-2345-6789

In [ ]:
# 19)
num = int(input('0~5 중 하나의 숫자를 입력하세요'))

goodsay = ['happy','love','sad','hot','angry','fortunate']

print(goodsay[num])

0~5 중 하나의 숫자를 입력하세요3
hot

In [ ]:
# 20)
team = ['민지','경희','상구','철수','지민']

if len(team) > 3:
    print('구성원은 최대 3명까지입니다. 줄이세요.')

구성원은 최대 3명까지입니다. 줄이세요.

In [ ]:
# 21)
score2 = [90,75,30,100,85]

(score2[0] + score2[1] + score2[2] + score2[3] + score2[4]) / len(score2)

76.0

In [ ]:
# 22)
piano = ['도','레','미','파','솔','라','시']

print('1도 화음 : ' , piano[0] , piano[2] , piano[4])
print('4도 화음 : ' , piano[3] , piano[5] , piano[0])
print('5도 화음 : ' , piano[4] , piano[6] , piano[2])

school_bell = [piano[4],piano[4],piano[5],piano[5],piano[4],piano[4],piano[2]]
print(school_bell)

1도 화음 :  도 미 솔
4도 화음 :  파 라 도
5도 화음 :  솔 시 미
['솔', '솔', '라', '라', '솔', '솔', '미']