#ch_8_효과적인 자료형 – tuple형, set형, dictionary형
##성명:한규현 학과:경제학과 학번:12173082

In [ ]:
#실습 8-1
test = ('영어','수학','과학','사회')
thisyear_test = ['영어','과제','과학','사회']
thisyear_test

['영어', '과제', '과학', '사회']

In [ ]:
# 퀴즈 8-1
str_red = 'Red'
list_color = ['Red','Yellow','Orange']
tuple_color = (str_red, list_color)
tuple_color

('Red', ['Red', 'Yellow', 'Orange'])

In [ ]:
# 실습 8-2
coffeshop = {'Americano':'2000원','Cafe latte':'2500원','Green Tea latte':'3000원','Mocha latte':'3500원'}
'Americano' in coffeshop

True

In [ ]:
'Vanila latte' in coffeshop

False

In [ ]:
# 퀴즈 8-2
store = {'연필':'200원','펜':'800원','지우개':'500원','자':'300원'}
store.values()

dict_values(['200원', '800원', '500원', '300원'])

In [ ]:
# 연습문제 1.
홈페이지에서 정보 수정 및 추가를 위해 사용할 수 있는 자료형은 ( list )이고, 해킹으로 인한 정보
수정을 막기 위해 사용할 수 있는 자료형은 ( tuple )이다.

In [ ]:
# 2.
list형과 tuple형은 index 구조이기 때문에 ( 원소로 구성 ) 과 ( 시퀀스 형 )이 가능하다.

In [ ]:
# 3.
tuple = ('Hello', 'My', 'name', 'is', '예슬')
tuple[4] = '지수'
위의 프로그램을 실행했을 경우,
tuple의 원솟값은 ('Hello', 'My', 'name', 'is', '지수')이다. (X)
tuple에서도 list와 같이 min() 함수, max() 함수를 사용할 수 있다. (O)
tuple에서는 삽입, 삭제는 불가하나 원소의 순서 교체는 가능하다. (X)
arr = (35,45,2,10,11)
arr[3]+arr[1]
위의 프로그램의 결과 값은 (10,45)이다. (X) #45+10의 값인 55가 나온다.

In [ ]:
# 4.
animal_list = ['dog','pig','tiger','eagle','cat','dog','pig','lion']
animal_set = set(animal_list)
new_animal_list = list(animal_set)
new_animal_list

['lion', 'eagle', 'tiger', 'pig', 'dog', 'cat']

In [ ]:
# 5.
dictionary형은 ( key )와 ( value )가 한 쌍을 이루는 원소로 구성되어있다.

In [ ]:
# 6.
arr = (1, 2, 3)
brr = [arr[0],arr[2],arr[1]]
brr

[1, 3, 2]

In [ ]:
# 7.
score_list = [10, 9, 9, 6, 7, 6, 8, 9]
set(score_list)

{6, 7, 8, 9, 10}

In [ ]:
# 8.
total = {'A','B','C','D','E','F','G','H','I','J','K','L','M'}
group_A = {'C','D','J','K','L'}
group_B = {'L','B','H','E'}

uni = group_A | group_B 
total - uni

{'A', 'F', 'G', 'I', 'M'}

In [ ]:
# 9.
coffeshop = {'Americano':'2000원','Cafe latte':'2500원','Green Tea latte':'3000원','Mocha latte':'3500원'}
'Americano' in coffeshop

True

In [ ]:
'Vanila latte' in coffeshop

False

In [ ]:
# 10.
food = {'돈가스':'5000원','생선가스':'5500원','우동':'2500원','초밥 세트':'9000원'}
food.keys()

dict_keys(['돈가스', '생선가스', '우동', '초밥 세트'])

In [ ]:
food.values()

dict_values(['5000원', '5500원', '2500원', '9000원'])

In [ ]:
# 11.
A = {4,3,2,7,8,10,1,9}
B = {0,1,3,5,6,8,9,10,4}
if A ==A.intersection(B) or B==B.intersection(A) :
  print("부분집합입니다.")

else:
  print(A | B)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 13.
fruits = {'배':[2000,3], '사과':[1500,5], '딸기':[1800,2], '참외':[2300,5]}
fruits.items()
for value in fruits.items():
  if value[1][1] <5:
    sum = (5-value[1][1])*value[1][0]
    print(value[0],"가",5-value[1][1],"개 부족합니다.")
    print("따라서",value[0],"를",sum ,"원치 더 사야합니다")
    sum += sum
print("합계는",sum,"원입니다")

배 가 2 개 부족합니다.
따라서 배 를 4000 원치 더 사야합니다
딸기 가 3 개 부족합니다.
따라서 딸기 를 5400 원치 더 사야합니다
합계는 10800 원입니다

In [64]:
# 14.
mart = {'비누':[3,2], '칫솔':[5,4], '샴푸':[2,1], '치약':[4,4], '로션':[5,3]}

for item in mart.items():
    if (item[1][0] >= 4) and (item[1][1] >= 4):
        print(item[0],'는 우수 제품입니다.')
    elif (item[1][0] < 4) and (item[1][1] < 4):
        print(item[0],'는 판매중지 제품입니다.')
    else:
        print(item[0],'는 정상 제품입니다.')

비누 는 판매중지 제품입니다.
칫솔 는 우수 제품입니다.
샴푸 는 판매중지 제품입니다.
치약 는 우수 제품입니다.
로션 는 정상 제품입니다.

In [65]:
# 15.
shop = {'연필':'200원','펜':'800원','지우개':'500원','자':'300원'}
shop.values()

dict_values(['200원', '800원', '500원', '300원'])

#Ch_9._같은_작업_여러_번_반복
##성명:한규현 학과:경제학과 학번:12173082

In [67]:
# 퀴즈 9-1
num = 0
while (num <= 10):
    num = num + 2
    print(num)

2
4
6
8
10
12

In [68]:
num = 1
while (num < 10):
    print(num * num)
    num = num + 1

1
4
9
16
25
36
49
64
81

In [69]:
count = 1
while (count <= 5):
    print('ha!')
    count = count + 1

ha!
ha!
ha!
ha!
ha!

In [71]:
# 실습 9-1
x=int(input("enter the number:"))
step = 0
sum = 0
while step <= x:
  sum = sum + step
  step = step +1
print(sum)

enter the number:20
210

In [74]:
# 퀴즈 9-2
n = 5
step = 0
sum = 2
while (step <= n):
    sum += step
    step += 1
print(sum)

17

In [79]:
# 실습 9-2
sum = 0
n = 0
while True:
  n += 1
  sum += n
  
  if sum >= 1000:
    print(n)
    break

45

In [80]:
# 퀴즈 9-3
while True:
  n = int(input('Enter the number : '))
  print(n)
  if n == 0:
      print('중단합니다.')
      break

Enter the number : 0
0
중단합니다.

In [ ]:
# 퀴즈 9-4
list(range(1,20,3)) = [1, 4, 7, 10, 13, 16, 19]
list(range(30,1,-7)) = [30, ,23, 16, 9, 2]
0부터 90까지 8씩 증가하는 수열
list(range(0,91,8)
0부터 10까지 1씩 증가하는 수열
list(range(11)

In [81]:
# 퀴즈 9-5
for number in range (0,3):
  print(number)

0
1
2

In [94]:
# 실습 9-3
word_list = ['scramble', 'kindly', 'do', 'learn']
a = 0
for i in word_list:
  word_list[a]="un"+i
  a += 1
print(word_list)

['unscramble', 'unkindly', 'undo', 'unlearn']

In [95]:
# 실습 9-4
order = 1
alpha = "abcde"
for i in range(5):
  print(order,"번째 알파벳은",alpha[order-1])
  order += 1

1 번째 알파벳은 a
2 번째 알파벳은 b
3 번째 알파벳은 c
4 번째 알파벳은 d
5 번째 알파벳은 e

In [96]:
# 퀴즈 9-6
for seplling in 'PYTHON_SPELLING':
  print(spelling + '*')
  #spelling 값을 정의하지 않았다.

NameError: ignored

In [98]:
# 실습 9-5
n = int(input("enter the number:"))
fact = 1
for i in range(1,n+1):
  fact = fact * i
print(n,"!=",fact)

enter the number:5
5 != 120

In [99]:
# 실습 9-6
mixlist = ['apple', 5, 'banana', 'grape', 3, 8, 6, 'melon']

for i in mixlist:
    if type(i) == int:
      print(i,"는 숫자입니다")
    else:
      print(i,"는 문자입니다")

apple 는 문자입니다
5 는 숫자입니다
banana 는 문자입니다
grape 는 문자입니다
3 는 숫자입니다
8 는 숫자입니다
6 는 숫자입니다
melon 는 문자입니다

In [100]:
# 퀴즈 9-7
for num in range(10, 20):
    if (num % 2 == 0) and (num % 3 == 0):
        print('6x', num/6, '=', num)

6x 2.0 = 12
6x 3.0 = 18

In [ ]:
# 연습문제 1.
반복의 횟수를 미리 지정할 수 있는 경우 또는 범위를 알고 있는 경우에는 (for문 )을, 그렇지 않고
반복의 횟수를 조건식에 의존하는 경우에는 ( while문 )을 사용한다.

In [101]:
# 2.
count = 1
#sum = 0
while count <=10 :
sum = sum + count
count = count + 1

IndentationError: ignored

In [1]:
# 3.
sum = 0
for i in range (1,11):
  sum += i
print(sum)

55

In [2]:
# 4.
for i in range (10,21):
  if i % 2 != 0:
    print(i,"is a odd number")

11 is a odd number
13 is a odd number
15 is a odd number
17 is a odd number
19 is a odd number

In [3]:
# 5.
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [4]:
# 6.
for i in range(1,11):
  print("나무를",i,"번 찍었다.")
  if i == 10:
    print("나무가 넘어갔다")

나무를 1 번 찍었다.
나무를 2 번 찍었다.
나무를 3 번 찍었다.
나무를 4 번 찍었다.
나무를 5 번 찍었다.
나무를 6 번 찍었다.
나무를 7 번 찍었다.
나무를 8 번 찍었다.
나무를 9 번 찍었다.
나무를 10 번 찍었다.
나무가 넘어갔다

In [5]:
# 7.
n = int(input('Enter the even number (1~30) : '))

for i in range(n+2, 31, 2):
    print(i)

Enter the even number (1~30) : 20
22
24
26
28
30

In [6]:
# 8.
floor = 1

while floor <= 8:
    print("계단을",floor,"칸 올라갔습니다.")
    floor += 1
print("다음 층에 도착 하였습니다.")

계단을 1 칸 올라갔습니다.
계단을 2 칸 올라갔습니다.
계단을 3 칸 올라갔습니다.
계단을 4 칸 올라갔습니다.
계단을 5 칸 올라갔습니다.
계단을 6 칸 올라갔습니다.
계단을 7 칸 올라갔습니다.
계단을 8 칸 올라갔습니다.
다음 층에 도착 하였습니다.

In [7]:
# 9.
n = int(input('1이상의 정수 입력 : '))

print(n,'의 약수' )

for i in range(1, n+1):
    if n % i == 0:
        print(i)

1이상의 정수 입력 : 25
25 의 약수
1
5
25

In [8]:
# 10.
sum = 0
while True:
  x=int(input("덧셈을 하고 싶은 양의 정수들을 입력하세요"))
  sum += x
  if x == 0:
    print("총 합은",sum,"입니다")
    break

덧셈을 하고 싶은 양의 정수들을 입력하세요5
덧셈을 하고 싶은 양의 정수들을 입력하세요4
덧셈을 하고 싶은 양의 정수들을 입력하세요9
덧셈을 하고 싶은 양의 정수들을 입력하세요8
덧셈을 하고 싶은 양의 정수들을 입력하세요0
총 합은 26 입니다

In [11]:
# 11.
score_list = [70, 80, 98, 77, 100, 85]

for i in range(len(score_list)):
    if score_list[i] >= 80:
        print(i+1,'번 학생 통과')
    else:
        print(i+1,'번 학생은 불합격입니다.')

1 번 학생은 불합격입니다.
2 번 학생 통과
3 번 학생 통과
4 번 학생은 불합격입니다.
5 번 학생 통과
6 번 학생 통과

In [ ]:
# 12.
문제에 오류가 있습니다.

In [12]:
# 13.
a = [(1, 3), (3, 5), (7, 9), (13, 15)]
i = 0

while i < len(a):
    sum = a[i][0] + a[i][1]
    print(sum)
    i += 1

4
8
16
28

In [13]:
# 14
fruits = ['straberry', 'apple', 'banana', 'watermelon', 'grape']

fruits.reverse()

for i in range(len(fruits)):
    print(fruits[i])

grape
watermelon
banana
apple
straberry

In [14]:
# 15
while True:
    n = int(input('Enter the number : '))
    if n == 0:
        break
    elif (n % 2) == 0:
        print(n,'is even number')
    else:
        print(n,'is odd number')

Enter the number : 5
5 is odd number
Enter the number : 3
3 is odd number
Enter the number : 2
2 is even number
Enter the number : 0

In [15]:
# 16.
15번 문제와 동일합니다.

SyntaxError: ignored

In [18]:
# 17.
x=int(input("자연수 입력"))
sum = 0
for i in range(1,x+1):
  if (i % 2) == 0:
    sum += i
print("짝수 합:",sum)

자연수 입력8
짝수 합: 20

In [20]:
# 18.
n = int(input('자연수 입력 : '))
sum = 0

for i in range(1, n+1):
    if (i % 2) != 0:
        sum += i
print('홀수 합 :',sum)

자연수 입력 : 9
홀수 합 : 25

In [30]:
# 19.
for i in range(2,10):
  count = 1
  print("")
  print(i,"단:",end=" ")
  while count < 10:
    print(i * count,end=" ")
    count += 1

2 단: 2 4 6 8 10 12 14 16 18
3 단: 3 6 9 12 15 18 21 24 27
4 단: 4 8 12 16 20 24 28 32 36
5 단: 5 10 15 20 25 30 35 40 45
6 단: 6 12 18 24 30 36 42 48 54
7 단: 7 14 21 28 35 42 49 56 63
8 단: 8 16 24 32 40 48 56 64 72
9 단: 9 18 27 36 45 54 63 72 81

In [31]:
# 20.
for i in range(1, 10, 2):
    print('*' * i)

*
***
*****
*******
*********

In [33]:
# 21.
name = input("이름:")
num = int(input("문제 개수"))
count = 0
for i in range(1,num+1):
  x=input("%d 번 문제를 해결했나요?(y/n)" %i)
  if x == "y":
    count +=1
print(name,"학생,총",count,"문제를 해결하였습니다")

이름:규현
문제 개수6
1 번 문제를 해결했나요?(y/n)y
2 번 문제를 해결했나요?(y/n)y
3 번 문제를 해결했나요?(y/n)n
4 번 문제를 해결했나요?(y/n)y
5 번 문제를 해결했나요?(y/n)y
6 번 문제를 해결했나요?(y/n)n
규현 학생,총 4 문제를 해결하였습니다

In [35]:
# 22.
x=float(input("높이를 입력하시오(m)"))
count=0
while True:
  x = x/2
  count += 1
  if x < 0.00001:
    print("공이 튀긴 횟수는",count,"회 입니다")
    break

높이를 입력하시오(m)30
공이 튀긴 횟수는 22 회 입니다