#Ch6_중첩조건문_한규현
##성명:한규현 학과:경제학과 학번:12173082

In [2]:
# 실습 6-1
num1 = int(input("num1입력"))
num2 = int(input("num2입력"))

if (num1 >= 0) and (num2 >= 0):
    print("두수의 곱은 양수입니다.")
else:
    if (num1 < 0) and (num2 < 0):
        print("두수의 곱은 양수입니다.")
    else:
        print("두수의 곱은 음수입니다.")

num1입력5
num2입력3
두수의 곱은 양수입니다.

In [ ]:
# 퀴즈 6-1
if cond1 == True:
( if cond2 == True:
Statement1
else:
Statement2 )
else:
False_statements
Next_statements

In [3]:
# 퀴즈 6-2
age = int(input('당신의 나이를 입력하세요.'))

if age >= 10:
    if age < 20:
        print('student')
    else:
        print('adult')
else:
    print('kid')

당신의 나이를 입력하세요.15
student

In [5]:
#실습 6-2
score = int(input('점수 입력 : '))

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('D')

점수 입력 : 90
A

In [6]:
# 실습 6-3
english = int(input("영어점수입력")) 
math = int(input("수학점수입력"))
total = english + math
if total < 110:
  print("불합격입니다")
elif english < 40 or math < 40:
  print("불합격입니다")
else :
  print("합격입니다")

영어점수입력80
수학점수입력20
불합격입니다

In [8]:
# 퀴즈 6-3
age = int(input("당신의 나이를 입력하시오"))
if  age >= 20:
  print("adult")
elif age >= 10:
    print("student")
else:
    print("kid")

당신의 나이를 입력하시오15
student

In [9]:
# 연습문제 1)
number = 18
if number < 10:
    if number > 5:
        print('A')
    else:
        print('B')
else:
    print('C')

C

In [ ]:
# 2)
조건이 많아지는 경우 ( if-elif-else문 )은 프로그램의 실행 시간이 짧아진다는 장점이 있는
반면 프로그램을 코딩한 사람 외에는 해당 프로그램을 해석하기 어렵다는 단점이 있다.
그러한 프로그램을 ( 중첩 조건문 )으로 프로그래밍하게 되면 프로그램의 실행 시간은
길어지는 단점이 있으나 다른 누군가가 그 프로그램을 해석하기 쉬워지는 장점이 있다.

In [10]:
# 3) 
size = float(input('손가락 둘레 입력 : '))

if 51< size <= 52:
    print('9호')
elif 52 < size <= 53:
    print('10호')
elif 53 < size <= 54:
    print('11호')
elif 54 < size <= 55:
    print('12호')
else:
    print('반지 제작 불가')

손가락 둘레 입력 : 52.1
10호

In [13]:
#4)
num1 = int(input("첫번째 양수"))
num2 = int(input("두번째 양수"))
cal = int(input("원하는 연산 번호 입력"))
if cal == 1:
  print(num1 + num2)
elif cal == 2:
  print(num1 - num2)
elif cal == 3:
  print(num1 * num2)
elif cal == 4:
  print(num1 / num2)
else :
  print("연산번호 재입력")

첫번째 양수55
두번째 양수5
원하는 연산 번호 입력3
275

In [5]:
# 5)
year = int(input('해당 연도 입력 '))

if year % 400 == 0:
    print('윤년')
elif year % 4 == 0 and year % 100 != 0:
    print('윤년')
else:
    print('윤년이 아니다.')

해당 연도 입력 2020
윤년

In [15]:
# 6)
weight = int(input("몸무게 입력"))
hight = float(input("키 입력(m)"))
bmi = weight / (hight * hight)
if bmi < 20:
  print("저체중")
elif bmi >= 20 and bmi <= 24:
  print("정상체중")
elif bmi >= 25 and bmi <= 30:
  print("경도비만")
else :
  print("비만")

몸무게 입력78
키 입력(m)1.75
경도비만

In [14]:
# 7)
name = input('이름 : ')
part = int(input('현재 직급 입력'))

if part == 1:
    print('연봉 9000만원')
elif part == 2:
    print('연봉 6500만원')
elif part == 3:
    print('연봉 4000만원')
elif part == 4:
    print('연봉 3000만원')
elif part == 5:
    print('연봉 1000만원')
else:
    print('잘못 입력했습니다.')

이름 : 수지
현재 직급 입력4
연봉 3000만원

In [13]:
# 8)
tall = int(input('키 입력 '))

if tall <= 140:
    print('6급 병역 면제')
elif tall <= 145:
    print('5급 제2국민역')
elif tall <= 158:
    print('4급 보충역')
else:
    print('현역병')

키 입력 156
4급 보충역

In [19]:
# 9)
kg = float(input('몸무게 '))
cm = float(input('키(m) '))
bmi = kg / (cm * cm)

if 20 <= bmi <= 24.9:
    print('군 면제 몸무게 1급')
elif 18.5 <= bmi <= 19.9:
    print('군 면제 몸무게 2급')
elif (16 <= bmi <= 18.4) or (30 <= bmi <= 34.9):
    print('군 면제 몸무게 3급')
else:
    print('군 면제 몸무게 4급')

몸무게 56
키(m) 1.8
군 면제 몸무게 3급

In [18]:
# 10)
gender = input('성별')
old = int(input('나이'))

if gender == '여':
    if old >= 20:
        print('적립금의 2배 적립')
    elif old >= 30:
        print('적립금의 3배 적립')
    else:
        print('적립금의 1.5배 적립')
else:
    print('적립금의 2배 적립')

성별여
나이25
적립금의 2배 적립

In [21]:
# 11)
number1 = int(input("number1"))
number2 = int(input("number2"))

if number1 > number2:
    if (number1 % 2) == 0:
        print('첫번째 숫자가 큰 수이고 짝수')
    else:
        print('첫번째 숫자가 큰 수이고 홀수')
elif number1 < number2:
    if (number2 % 2) == 0:
        print('두번째 숫자가 큰 수이고 짝수')
    else:
        print('두번째 숫자가 큰 수이고 홀수')
else:
    print('두 수는 같은 수이다.')

number110
number28
첫번째 숫자가 큰 수이고 짝수

In [22]:
# 12)
t1 = int(input("첫번째 변"))
t2 = int(input("두번째 변"))
t3 = int(input("세번째 변(가장 긴 변)"))

if (t1 + t2) <= t3:
    print('삼각형이 아니다.')
elif (t1 == t2 == t3):
    print('정삼각형')
elif (t1 == t2) or (t1 == t3) or (t2 == t3):
    print('이등변삼각형')
elif ((t3**2) == (t1**2 + t2**2)):
    print('직각삼각형')
else:
    print('삼각형')

첫번째 변10
두번째 변10
세번째 변(가장 긴 변)15
이등변삼각형

In [23]:
# 13)
point = int(input('점수 입력:'))
if point >= 90:
print('A')
elif point >= 80:
print('B')
elif point >= 70:
print('C')
else:
print('D')
#조건문 다음 들여쓰기가 되어있지 않다.

IndentationError: ignored

In [24]:
# 14)
sem = int(input('수료한 학기'))
avg_grade = float(input('평균 학점'))

if (sem == 0) or (sem > 8):
    print('장학금을 받을 수 없음')
elif avg_grade >= 4.0:
    print('전액 장학금')
elif avg_grade >= 3.5:
    print('50% 장학금')
elif avg_grade >= 3.0:
    print('30% 장학금')
else:
    print('장학금을 받을 수 없음')

수료한 학기4
평균 학점3.3
30% 장학금

In [25]:
# 15)
hour = int(input('출근 시각의 시'))
min = int(input('출근 시각의 분'))

if hour == 9:
    if min > 30:
        print('지각')
    else:
        print('정시출근')
elif hour < 9:
    print('정시 출근')
else:
    print('지각')

출근 시각의 시9
출근 시각의 분31
지각

In [26]:
# 16)
num1 = int(input("정수 1 "))
num2 = int(input("정수 2 "))
num3 = int(input("정수 3 "))
if num1 == num2:
  num1 = max
  if num1 >= num3:
    print(num1)
  else:
    print(num3)
else:
  max = num2
  if num2 >= num3:
    print(num2)
  else:
    print(num3)

정수 1 5
정수 2 6
정수 3 7
7

In [27]:
# 17)
num1 = int(input("정수 1"))
num2 = int(input("정수 2"))
total = num1 + num2

if (total % 2) == 0:
    if (total % 3) == 0:
        print('합은 짝수이며 3의 배수이다.')
    else:
        print('합은 짝수이며 3의 배수는 아니다.')
elif (total % 3) == 0:
    print('합은 홀수이며 3의 배수이다.')
else:
    print('합은 홀수이며 3의 배수는 아니다.')

정수 16
정수 29
합은 홀수이며 3의 배수이다.

In [28]:
# 18)
lucky_num = int(input('행운의 숫자 입력'))
k_num = int(input('한국인이 좋아하는 숫자 입력'))

if (lucky_num == 7) and (k_num == 3):
    print('둘 다 정답')
elif (lucky_num == 7) and (k_num != 3):
    print('행운의 숫자만 정답')
elif (lucky_num != 7) and (k_num == 3):
    print('한국인이 좋아하는 숫자만 정답')
else:
    print('둘 다 오답')

행운의 숫자 입력7
한국인이 좋아하는 숫자 입력7
행운의 숫자만 정답

In [29]:
#19)
luv = input("'사랑해'라는 말은 외국어로? ")

if luv == 'I love you':
    print('영어')
elif luv == 'Ti amo':
    print('이탈리아어')
elif luv == 'Aishiteru':
    print('일본어')
elif luv == 'Te qiero':
    print('스페인어')
elif luv == 'Wo ai ni':
    print('중국어')
elif luv == 'Ich liebe dich':
    print('독일어')
else:
    print('잘 모르겠습니다')

'사랑해'라는 말은 외국어로? Ti amo
이탈리아어

In [33]:
# 20)
num1 = int(input("정수 1 입력"))
num2 = int(input("정수 2 입력"))
num3 = int(input("정수 3 입력"))

if num1 <= num2:
    min = num1
    if num1 <= num3:
        print('가장 작은 수 :', min)
    else:
        min = num3
        print('가장 작은 수 :', min)
else:
    min = num2
    if num2 <= num3:
        print('가장 작은 수 :', min)
    else:
        min = num3
        print('가장 작은 수 :', min)

정수 1 입력6
정수 2 입력8
정수 3 입력7
가장 작은 수 : 6

In [35]:
# 21)
num1 = int(input("정수 1 입력"))
num2 = int(input("정수 2 입력"))
num3 = int(input("정수 3 입력"))

total= num1 + num2 + num3

if (total % 2) == 0:
    if num1 >= num2:
        max = num1
        if num1 >= num3:
            print('합은 짝수, 가장 큰 수는 %d' % max)
        else:
            max = num3
            print('합은 짝수, 가장 큰 수는 %d' % max)
    else:
        max = num2
        if num2 >= num3:
            print('합은 짝수, 가장 큰 수는 %d' % max)
        else:
            max = num3
            print('합은 짝수, 가장 큰 수는 %d' % max)
else:
    print('합은 홀수, %d' % total)

정수 1 입력4
정수 2 입력8
정수 3 입력10
합은 짝수, 가장 큰 수는 10

In [37]:
# 22)
x1 = int(input("점1의 x좌표"))
y1 = int(input("점1의 y좌표"))
x2 = int(input("점2의 x좌표"))
y2 = int(input("점2의 y좌표"))

if (x1 >= x2) and (y1 >= y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
 
elif (x1 >= x2) and (y1 < y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
  
elif (x1 < x2) and (y1 >= y2):
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)
  
else :
  print(((x1 - x2)**2+(y1 - y2)**2)**0.5)

점1의 x좌표10
점1의 y좌표12
점2의 x좌표5
점2의 y좌표15
5.830951894845301

In [39]:
# 23)
time = int(input('출국 전 남은 기간 : '))
country = input('여행할 국가 : ')

UK = 70
France = 67
Germany = 63
Greece = 60

if time >= 45:
    if country == '영국':
        price = UK * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '프랑스':
        price = France * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '독일':
        price = Germany * 0.95
        print('5% 할인')
        print('가격 :',price)
    elif country == '그리스':
        price = Greece * 0.95
        print('5% 할인')
        print('가격 :',price)
    else:
        print('해당 국가 없음')
elif time >= 30:
    if country == '영국':
        price = UK * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '프랑스':
        price = France * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '독일':
        price = Germany * 0.97
        print('3% 할인')
        print('가격 :',price)
    elif country == '그리스':
        price = Greece * 0.97
        print('3% 할인')
        print('가격 :',price)
    else:
        print('해당 국가 없음')
else:
    if country == '영국':
        print('가격 :',UK)
    elif country == '프랑스':
        print('가격 :',France)
    elif country == '독일':
        print('가격 :',Germany)
    elif country == '그리스':
        print('가격 :',Greece)
    else:
        print('해당 국가 없음')

출국 전 남은 기간 : 45
여행할 국가 : 프랑스
5% 할인
가격 : 63.65