#Ch.11_함수_활용_한규현
## 성명:한규현 학과:경제학과 학번:12173082

In [2]:
#퀴즈 11-1
def square(x):
  print(x*x)
nums= [2,3,4,5,6]

for num in nums:
  square(num)

4
9
16
25
36

In [3]:
# 실습 11-1
def longest(words):
  long_word = words[0]
  long = len(words[0])

  for i in range (len(words)):
    if len(words[i])>long:
      long = len(words[i])
      long_word = words[i]
  return long_word

print(longest(['one','second','three']))

second

In [4]:
# 실습 11-2
def len_word(wordlist):
  sum = 0
  for i in wordlist:
    sum += len(i)
  return sum
list_fruit = ["apple","banana","tomato"]
print(len_word(list_fruit))

17

In [8]:
# 실습 11-3
def passFail(scores):
  if sum(scores) / len(scores) >= 60:
    return "pass"
  else:
    return "fail"
  
passFail([30,40,50,60,70])

'fail'

In [7]:
#퀴즈 11-2
def change(x):
  x = 10

x = 5
change(x)           #call by value (새로운 x가 생긴것이다.)
print(x)

5

In [14]:
# 실습 11-4
def max_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i
 return largest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
max_score(math_score)

92

In [19]:
#실습 11-5:
def gap_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i


 smallest = a[0]
 for x in a:
   if x < smallest:
     smallest = x
 return largest-smallest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
gap_score(math_score)

47

In [20]:
#실습 11-6
def change_temp(a):
  x = ((9/5) * a + 32)
  return x
a= int(input("섭씨 온도 입력:"))
change_temp(a)

섭씨 온도 입력:32

89.6

In [24]:
#실습 11-7
def change(a):
  feet = a / 0.305
  yard = a * 1.0936
  print(a,"미터는",feet,"feet",yard,"yard 입니다")

m= float(input("meter 입력:"))
change(m)

meter 입력:50
50.0 미터는 163.9344262295082 feet 54.67999999999999 yard 입니다

In [28]:
#실습 11-8
def area(bottom,height):
  area = float(0.5 * bottom * height)
  print(area)

a=int(input("밑변 입력:"))
b=int(input("높이 입력:"))
area(a,b)

밑변 입력:20
높이 입력:15
150.0

In [31]:
# 실습 11-9
def time(second):
  h = second // (60*60)
  m = (second-h*60*60) //60
  sec = second - h*60*60 - m*60
  return h,m,sec

time(57894)

(16, 4, 54)

In [34]:
#실습 11-10
def cal_productPrice(a):
  return a*(10/11)

def cal_tax(a):
  return a*(1/11)

a=int(input("소비자가 입력(원):"))
productPrice = cal_productPrice(a)
tax = cal_tax(a)
print("제품 가격은%d원, 부가가치세는%d원입니다."%(productPrice,tax))

소비자가 입력(원):11000
제품 가격은10000원, 부가가치세는1000원입니다.

In [37]:
#실습 11-11
def password(a):
  if len(a) >=9:
    print("Good")
  elif len(a) >= 5 and len(a) < 9:
    print("Normal")
  elif len(a) < 5:
    print("Bad")

a=input("비밀번호 입력:")
password(a)

비밀번호 입력:myPassword
Good

In [57]:
def periodDiscount(cp,p):
  if p <= 6:
    return(cp)
  elif p > 6 and p <=12:
    cp = cp * (90/100)
    return(cp)
  elif p > 12:
    cp = cp * (80/100)
    return(cp)

def creditCardDiscount(cp,c):
  if c == 11:
    cp = cp * (95/100)
    return(cp)
  elif c == 12:
    cp = cp * (92/100)
    return(cp)
  elif c == 13:
    cp = cp * (88/100)
    return(cp)

contractPrice=float(input("계약금액"))
period=float(input("사용개월"))
cardcode=float(input("카드코드"))

a=periodDiscount(contractPrice,period)

print(creditCardDiscount(a,cardcode))

계약금액50000
사용개월10
카드코드11
42750.0