#Ch_10.특정_작업을_수행하는_함수
##성명:한규현 학과:경제학과 학번:12173082

In [ ]:
#실습 10-1
def increase_3(number):
  print(number+3)
number=int(input("n1="))
increase_3(number)

n1=3
6

In [ ]:
#실습 10-2
def list_avg(numlist):
  sum=0
  for num in numlist:
    sum += num
  avg= sum/len(numlist)
  return avg
math_score = [90,80,70,60,50]
list_avg(math_score)

70.0

In [ ]:
# 퀴즈 10-1
def sub_num(num1,num2):
  sub=abs(num1-num2)
  return sub

num1=int(input("number1="))
num2=int(input("number2="))

print(sub_num(num1,num2))

number1=5
number2=10
5

In [ ]:
# 실습 10-3
def dec_food(side):
  if side == "앞":
    print("중국요리")
  else:
    print("일본요리")

dec_food("앞")

중국요리

In [ ]:
#퀴즈 10-3
def concate_str(str1,str2):
  print(str1+str2)
str1=input("str1=")
str2=input("str2=")
concate_str(str1,str2)

str1=안녕
str2=하세요
안녕하세요

In [ ]:
# 연습문제 1.
def average(num1,num2):
  print(num1+num2)
num1=int(input("num1="))
num2=int(input("num2="))
average(num1,num2)

num1=5
num2=5
10

In [ ]:
# 2.
def print_list(num_list):
  for n in num_list:
    if(n != 0):
      print(n)
    else:
      break
  
print_list([1,2,3,0])

1
2
3

In [ ]:
# 3.
기억해야 할 중요한 사항은 함수를 정의하는 것과 함수를 수행하는 것은 다르다는 것이다.
함수의 수행은 함수를 (호출)한 후에 함수 (반환)를 통해 이루어진다.

In [ ]:
# 4.
def print_greeting(n):
  for count in range(n):
    print('Hello, Python')
print_greeting(3)
#return을 항상하는 것이 아닌, 바로 print를 해준다.

Hello, Python
Hello, Python
Hello, Python

In [ ]:
# 5.
def sum(n):
  result = 0
  for count in range(n):
    result = result + count
  return(result)

print(sum(5))
#for 루트가 끝난 뒤에 result값을 return 해줘야 한다.

10

In [ ]:
# 6.
def add(n1,n2):
  print(n1+n2)
add(3,5)

8

In [ ]:
# 7.
def square(a,b):
  print(2*a+2*b)
square(3,6)

18

In [ ]:
# 8.
def max_score(a,b,c,d,e,f):
  score_list=[a,b,c,d,e,f]
  maxvalue=score_list[0]
  for i in range(1,len(score_list)):
    if maxvalue < score_list[i]:
      maxvalue = score_list[i]
  print(maxvalue)

max_score(50,84,54,96,90,100)

100

In [ ]:
# 9.
def temp(x):
  prtem = 0
  prtem += x
  if prtem > 5:
    print("더 이상은 불가능입니다.")
  return(prtem)

print("현재 템포는 0입니다. 템포 조정은 0부터 5까지 가능합니다. ")
a=int(input("조정하고자 하는 만큼의 크기를 입력:"))
new = temp(a)
print("조정한 후의 템포는 %d 입니다."% (new))

현재 템포는 0입니다. 템포 조정은 0부터 5까지 가능합니다.
조정하고자 하는 만큼의 크기를 입력:3
조정한 후의 템포는 3 입니다.

In [ ]:
# 10.
def vol(x):
  prvol = 3
  prvol += x
  return(prvol)

print("현재 음량은 3입니다.")
a=int(input("증가시킬 만큼의 음량을 입력:"))
new = vol(a)
print("증가 후의 음량은 %d 입니다."% (new))

현재 음량은 3입니다.
증가시킬 만큼의 음량을 입력:4
증가 후의 음량은 7 입니다.

In [ ]:
# 11.
def come_o():
  a=input("이름을 입력하세요:")
  print("출근 완료되었습니다.")

come_o()

이름을 입력하세요:suzi
출근 완료되었습니다.

In [ ]:
# 12.
def reservation ():
  x=input("춘천(운임 : 5000원) / 부산(운임 :30000원) / 대구(운임 20000원) / 수원(운임10000)\n 한곳을 입력하세요 :")
  if x == "춘천":
    print(x,"까지의 금액은 5000원 입니다.")
  elif x== "부산":
    print(x,"까지의 금액은 30000원 입니다.")
  elif x== "대구":
    print(x,"까지의 금액은 20000원 입니다.")
  elif x== "수원":
    print(x,"까지의 금액은 10000원 입니다.")

reservation()

춘천(운임 : 5000원) / 부산(운임 :30000원) / 대구(운임 20000원) / 수원(운임10000)
 한곳을 입력하세요 :수원
수원 까지의 금액은 10000원 입니다.

In [ ]:
# 13.
def factorial(x):
  sum=1
  for i in range(1,x+1):
    sum = sum*i
  return(sum)
factorial(4)

24

#Ch.11_함수_활용_한규현
## 성명:한규현 학과:경제학과 학번:12173082

In [ ]:
#퀴즈 11-1
def square(x):
  print(x*x)
nums= [2,3,4,5,6]

for num in nums:
  square(num)

4
9
16
25
36

In [ ]:
# 실습 11-1
def longest(words):
  long_word = words[0]
  long = len(words[0])

  for i in range (len(words)):
    if len(words[i])>long:
      long = len(words[i])
      long_word = words[i]
  return long_word

print(longest(['one','second','three']))

second

In [ ]:
# 실습 11-2
def len_word(wordlist):
  sum = 0
  for i in wordlist:
    sum += len(i)
  return sum
list_fruit = ["apple","banana","tomato"]
print(len_word(list_fruit))

17

In [ ]:
# 실습 11-3
def passFail(scores):
  if sum(scores) / len(scores) >= 60:
    return "pass"
  else:
    return "fail"
  
passFail([30,40,50,60,70])

'fail'

In [ ]:
#퀴즈 11-2
def change(x):
  x = 10

x = 5
change(x)           #call by value (새로운 x가 생긴것이다.)
print(x)

5

In [ ]:
# 실습 11-4
def max_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i
 return largest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
max_score(math_score)

92

In [ ]:
#실습 11-5:
def gap_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i


 smallest = a[0]
 for x in a:
   if x < smallest:
     smallest = x
 return largest-smallest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
gap_score(math_score)

47

In [ ]:
#실습 11-6
def change_temp(a):
  x = ((9/5) * a + 32)
  return x
a= int(input("섭씨 온도 입력:"))
change_temp(a)

섭씨 온도 입력:32

89.6

In [ ]:
#실습 11-7
def change(a):
  feet = a / 0.305
  yard = a * 1.0936
  print(a,"미터는",feet,"feet",yard,"yard 입니다")

m= float(input("meter 입력:"))
change(m)

meter 입력:50
50.0 미터는 163.9344262295082 feet 54.67999999999999 yard 입니다

In [ ]:
#실습 11-8
def area(bottom,height):
  area = float(0.5 * bottom * height)
  print(area)

a=int(input("밑변 입력:"))
b=int(input("높이 입력:"))
area(a,b)

밑변 입력:20
높이 입력:15
150.0

In [ ]:
# 실습 11-9
def time(second):
  h = second // (60*60)
  m = (second-h*60*60) //60
  sec = second - h*60*60 - m*60
  return h,m,sec

time(57894)

(16, 4, 54)

In [ ]:
#실습 11-10
def cal_productPrice(a):
  return a*(10/11)

def cal_tax(a):
  return a*(1/11)

a=int(input("소비자가 입력(원):"))
productPrice = cal_productPrice(a)
tax = cal_tax(a)
print("제품 가격은%d원, 부가가치세는%d원입니다."%(productPrice,tax))

소비자가 입력(원):11000
제품 가격은10000원, 부가가치세는1000원입니다.

In [ ]:
#실습 11-11
def password(a):
  if len(a) >=9:
    print("Good")
  elif len(a) >= 5 and len(a) < 9:
    print("Normal")
  elif len(a) < 5:
    print("Bad")

a=input("비밀번호 입력:")
password(a)

비밀번호 입력:myPassword
Good

In [ ]:
def periodDiscount(cp,p):
  if p <= 6:
    return(cp)
  elif p > 6 and p <=12:
    cp = cp * (90/100)
    return(cp)
  elif p > 12:
    cp = cp * (80/100)
    return(cp)

def creditCardDiscount(cp,c):
  if c == 11:
    cp = cp * (95/100)
    return(cp)
  elif c == 12:
    cp = cp * (92/100)
    return(cp)
  elif c == 13:
    cp = cp * (88/100)
    return(cp)

contractPrice=float(input("계약금액"))
period=float(input("사용개월"))
cardcode=float(input("카드코드"))

a=periodDiscount(contractPrice,period)

print(creditCardDiscount(a,cardcode))

계약금액50000
사용개월10
카드코드11
42750.0

#Ch.11_함수_활용_한규현
## 성명:한규현 학과:경제학과 학번:12173082

In [ ]:
#퀴즈 11-1
def square(x):
  print(x*x)
nums= [2,3,4,5,6]

for num in nums:
  square(num)

4
9
16
25
36

In [ ]:
# 실습 11-1
def longest(words):
  long_word = words[0]
  long = len(words[0])

  for i in range (len(words)):
    if len(words[i])>long:
      long = len(words[i])
      long_word = words[i]
  return long_word

print(longest(['one','second','three']))

second

In [ ]:
# 실습 11-2
def len_word(wordlist):
  sum = 0
  for i in wordlist:
    sum += len(i)
  return sum
list_fruit = ["apple","banana","tomato"]
print(len_word(list_fruit))

17

In [ ]:
# 실습 11-3
def passFail(scores):
  if sum(scores) / len(scores) >= 60:
    return "pass"
  else:
    return "fail"
  
passFail([30,40,50,60,70])

'fail'

In [ ]:
#퀴즈 11-2
def change(x):
  x = 10

x = 5
change(x)           #call by value (새로운 x가 생긴것이다.)
print(x)

5

In [ ]:
# 실습 11-4
def max_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i
 return largest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
max_score(math_score)

92

In [ ]:
#실습 11-5:
def gap_score(a):
 largest = a[0]
 for i in a:
   if i > largest:
     largest = i


 smallest = a[0]
 for x in a:
   if x < smallest:
     smallest = x
 return largest-smallest

math_score = [45, 66, 70, 83, 50, 77, 87, 92, 73, 89]
gap_score(math_score)

47

In [ ]:
#실습 11-6
def change_temp(a):
  x = ((9/5) * a + 32)
  return x
a= int(input("섭씨 온도 입력:"))
change_temp(a)

섭씨 온도 입력:32

89.6

In [ ]:
#실습 11-7
def change(a):
  feet = a / 0.305
  yard = a * 1.0936
  print(a,"미터는",feet,"feet",yard,"yard 입니다")

m= float(input("meter 입력:"))
change(m)

meter 입력:50
50.0 미터는 163.9344262295082 feet 54.67999999999999 yard 입니다

In [ ]:
#실습 11-8
def area(bottom,height):
  area = float(0.5 * bottom * height)
  print(area)

a=int(input("밑변 입력:"))
b=int(input("높이 입력:"))
area(a,b)

밑변 입력:20
높이 입력:15
150.0

In [ ]:
# 실습 11-9
def time(second):
  h = second // (60*60)
  m = (second-h*60*60) //60
  sec = second - h*60*60 - m*60
  return h,m,sec

time(57894)

(16, 4, 54)

In [ ]:
#실습 11-10
def cal_productPrice(a):
  return a*(10/11)

def cal_tax(a):
  return a*(1/11)

a=int(input("소비자가 입력(원):"))
productPrice = cal_productPrice(a)
tax = cal_tax(a)
print("제품 가격은%d원, 부가가치세는%d원입니다."%(productPrice,tax))

소비자가 입력(원):11000
제품 가격은10000원, 부가가치세는1000원입니다.

In [ ]:
#실습 11-11
def password(a):
  if len(a) >=9:
    print("Good")
  elif len(a) >= 5 and len(a) < 9:
    print("Normal")
  elif len(a) < 5:
    print("Bad")

a=input("비밀번호 입력:")
password(a)

비밀번호 입력:myPassword
Good

In [ ]:
#실습 11-12
def periodDiscount(cp,p):
  if p <= 6:
    return(0)
  elif p > 6 and p <=12:
    cp = cp * (10/100)
    return(cp)
  elif p > 12:
    cp = cp * (20/100)
    return(cp)

def creditCardDiscount(cp,c):
  if c == 11:
    cp = cp * (5/100)
    return(cp)
  elif c == 12:
    cp = cp * (8/100)
    return(cp)
  elif c == 13:
    cp = cp * (12/100)
    return(cp)

contractPrice=float(input("계약금액"))
period=float(input("사용개월"))
cardcode=float(input("카드코드"))

final = contractPrice- periodDiscount(contractPrice,period) - creditCardDiscount(contractPrice,cardcode)
print(final)

계약금액50000
사용개월10
카드코드11
42500.0

In [ ]:
#실습 11-13
def godown(a,b):
  for i in range(a,b-1,-1):
    print(i,"층입니다.")
    if i == b-1:
      break
  print(i,"층에 도착하였습니다")

def goup(a,b):
  for i in range(a,b+1):
    print(i,"층입니다.")
    if i == b+1:
      break
  print(i,"층에 도착하였습니다")

inputl= int(input("가고자 하는 층 입력:"))
nowl= int(input("현재 위치 입력:"))

if inputl == nowl:
  print("문이 열립니다.")
elif inputl < nowl:
  godown(nowl,inputl)
elif inputl > nowl:
  goup(nowl,inputl)

가고자 하는 층 입력:5
현재 위치 입력:1
1 층입니다.
2 층입니다.
3 층입니다.
4 층입니다.
5 층입니다.
5 층에 도착하였습니다

In [ ]:
# 실습 11-14
def add(num1,num2):
  return num1+num2

def sub(num1,num2):
  if num1>=num2:
    return num1-num2
  elif num1<num2:
    return num2-num1

def mul(num1,num2):
  return num1*num2

def div(num1,num2):
  return num1/num2

while True:
  a=int(input("1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 5.종료:"))
  if a == 5:
    break
  num1,num2=map(float,input("정수 두개 입력").split(",") )
  if a == 1:
    print(add(num1,num2))
  elif a == 2:
    print(sub(num1,num2))
  elif a== 3:
    print(mul(num1,num2))
  elif a== 4:
    print(div(num1,num2))
print("종료되었습니다")

1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 5.종료:2
정수 두개 입력10,5
5.0
1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 5.종료:3
정수 두개 입력5,6
30.0
1.덧셈 2.뺄셈 3.곱셈 4.나눗셈 5.종료:5
종료되었습니다

In [ ]:
# 실습 11-15
def circum(side1, side2):
  return 2*(side1+side2)
def area(side1, side2):
  return side1*side2

while True:
  a = int(input("1.둘레 2.넓이 3.종료 :"))
  if a == 3:
    break
  side1,side2=map(float,input("두 변 길이 입력").split(",") )
  if a == 1:
    print(circum(side1, side2))
  elif a == 2:
    print(area(side1, side2))
print("종료되었습니다")

1.둘레 2.넓이 3.종료 :2
두 변 길이 입력2,3
6.0
1.둘레 2.넓이 3.종료 :1
두 변 길이 입력1,1
4.0
1.둘레 2.넓이 3.종료 :3
종료되었습니다

In [ ]:
# 실습 11-16
numlist = [95,90,45,10,80,100]
def avg(numlist):
  sum = 0
  for i in range(len(numlist)):
    sum += numlist[i]
  avg = sum/len(numlist)
  return(avg)

def high(numlist):
  high = numlist[0]
  for i in range(len(numlist)):
    if numlist[i] > high:
      high = numlist[i]
  return(high)

def low(numlist):
  low = numlist[0]
  for i in range(len(numlist)):
    if numlist[i] < low:
      low = numlist[i]
  return(low)

a = int(input("1.평균 2.최고점 3.최저점 :"))
if a == 1:
  print(avg(numlist))
elif a == 2:
  print(high(numlist))
elif a == 3:
  print(low(numlist))

1.평균 2.최고점 3.최저점 :1
70.0

In [ ]:
# 실습 11-17
import random

now_vol = random.randint(1,101)
now_eco = random.randint(-3,4)
now_tem = random.randint(-5,6)
def vol(now_vol):
  print("음량 조절은 0부터 100까지 가능합니다. 현재 음량은 %d입니다."%(now_vol))
  number = int(input("조절하고자하는 만큼 입력:"))
  print("조절 후 음량은 %d 입니다."%(now_vol+number))


def eco(now_eco):
  print("에코 조절은 -3부터 3까지 가능합니다. 현재 에코는 %d입니다."%(now_eco))
  number = int(input("조절하고자하는 만큼 입력:"))
  print("조절 후 에코는 %d 입니다."%(now_eco+number))
  

def tem(now_tem):
  print("템포 조절은 -3부터 3까지 가능합니다. 현재 템포는 %d입니다."%(now_tem))
  number = int(input("조절하고자하는 만큼 입력:"))
  print("조절 후 템포는 %d 입니다."%(now_tem+number))
  

print("**노래 조절 프로그램**")
a= int(input("1.음량 2.에코 3.템포 :"))
if a == 1 :
  vol(now_vol)
elif a == 2:
  eco(now_eco)
elif a == 3:
  tem(now_tem)

**노래 조절 프로그램**
1.음량 2.에코 3.템포 :1
음량 조절은 0부터 100까지 가능합니다. 현재 음량은 88입니다.
조절하고자하는 만큼 입력:-30
조절 후 음량은 58 입니다.

In [ ]:
# 실습 11 - 18
now_ch = 5
now_vol = 4
def channel(now_ch):
  number = int(input("조절하고자하는 만큼 입력:"))
  print("조절 후 채널은 %d 입니다."%(now_ch+number))

def volume(now_vol):
  number = int(input("조절하고자하는 만큼 입력:"))
  print("조절 후 채널은 %d 입니다."%(now_vol+number))

while True:
  a= int(input("1.채널 2.음량 3.종료:"))
  if a == 1 :
    vol(now_ch)
  elif a == 2:
    eco(now_vol)
  elif a== 3:
    break
print("종료합니다")

1.채널 2.음량 3.종료:1
음량 조절은 0부터 100까지 가능합니다. 현재 음량은 5입니다.
조절하고자하는 만큼 입력:2
조절 후 음량은 7 입니다.
1.채널 2.음량 3.종료:1
음량 조절은 0부터 100까지 가능합니다. 현재 음량은 5입니다.
조절하고자하는 만큼 입력:-2
조절 후 음량은 3 입니다.
1.채널 2.음량 3.종료:3
종료합니다

In [ ]:
# 실습 11 - 19
a = input("춘천(운임 : 5000원) 부산(운임 :30000원) 대구(운임 20000원) 수원(운임 10000) 중 목적지를 한곳 입력하세요 :")
b = input("KTX(10000원 추가) / 새마을호(5000원 추가) / 무궁화호(3000원 추가) 중 하나를 입력하세요 :")
c = input("좌석 / 입석(2000원 할인)중 하나를 입력하세요:")
def objection(a):
  if a == "춘천":
    return 5000
  elif a == "부산":
    return 30000
  elif a == "대구":
    return 20000
  elif a == "수원":
    return 10000
  
def train(b):
  if b == "KTX":
    return 10000
  elif b == "새마을호":
    return 5000
  elif b == "무궁화호":
    return 3000

def ud(c):
  if c == "좌석":
    return 0
  elif c == "입석":
    return -2000

result = objection(a) + train(b) + ud(c)
print(result)

춘천(운임 : 5000원) 부산(운임 :30000원) 대구(운임 20000원) 수원(운임 10000) 중 목적지를 한곳 입력하세요 :수원
KTX(10000원 추가) / 새마을호(5000원 추가) / 무궁화호(3000원 추가) 중 하나를 입력하세요 :무궁화호
좌석 / 입석(2000원 할인)중 하나를 입력하세요:좌석
13000

In [ ]:
# 실습 11 - 20
a = input("Choose 1 : Americano / Cafe mocha / Cafe Latte / Green Tea Latte :")
b = input("Choose size: G(grande) / R(regular) / S(short) :")
def coffee(a):
  if a == "Americano":
    return 3900
  elif a == "Cafe mocha":
    return 4500
  elif a == "Cafe Latte":
    return 5000
  elif a == "Green Tea Latte":
    return 5500

def size(b):
  if b == "G":
    return 1000
  elif b == "R":
    return 500
  elif b == "S":
    return 0

result = coffee(a) + size(b)
print(result)

Choose 1 : Americano / Cafe mocha / Cafe Latte / Green Tea Latte :Americano
Choose size: G(grande) / R(regular) / S(short) :G
4900