# Ch_5조건에_따른_문제_해결하기(조건문)
## 지은이: 인하대 소프트웨어융합공학 연계전공 한규현(12173082)

In [ ]:
#실습 5-1
total = 30000 + 50000 + 15000 + 25000
total >= 100000

True

In [ ]:
#퀴즈 5-1
A_English_score = 80
A_math_score = 65
A_average = (A_English_score + A_math_score)/2
B_English_score =76
B_math_score = 58
B_average = (B_English_score  + B_math_score)/2
A_average > B_average

True

In [ ]:
# 실습 5-2
average = 2
F_grade = 4
average <= 1 or F_grade >= 3

True

In [ ]:
# 퀴즈 5-2
a = True
b = False
c = (a and b)
d = (a or b)
a and b

False

In [ ]:
a or (c and d)

True

In [ ]:
b and (a or c) and d

False

In [ ]:
#퀴즈 5-3
age = int(input("사용자의 나이는?"))
if age >= 20:
  print("You are an adult")

사용자의 나이는?25
You are an adult

In [22]:
# 실습 5-3
import random
if random.random() > 0.5:
  print("앞면입니다.중국요리")
else:
  print("뒷면입니다.일본요리")

뒷면입니다.일본요리

In [ ]:
# 실습 5-4 
t = 10000
s = 30000

t_num = int(input("T-shirts 개수 "))
s_num = int(input("Sweater 개수 "))

total_price = (t * t_num) + (s * s_num)

if total_price <= 100000:
    total_price = total_price * 0.95
else:
    total_price = total_price * 0.85

print("합계 :", total_price )

T-shirts 개수 5
Sweater 개수 20
합계 : 552500.0

In [ ]:
#실습 5-5
high = int(input("키를 입력하세요 : "))
weigh = int(input("몸무게를 입력하세요 : "))

if high <= 155 and weigh <= 50:
  print("입장가능합니다.")
else:
  print("입장 불가능합니다.")

키를 입력하세요 : 165
몸무게를 입력하세요 : 60
입장 불가능합니다.

In [ ]:
#연습문제 1)
a = False
b = a
type (b)

bool

In [ ]:
# 2)
( 할당 ) 연산자인 ( = )은 변수에 어떤 값을 할당하는 데 사용하는 연산자이고,
( 비교 ) 연산자인 ( == )은 서로 다른 두 변수의 값이 같은지를 확인하는 데 사용하는
연산자이다.

In [ ]:
# 3)
if a > b
  print('***')
  print('True')
  print('***') # a와 b가 할당되지 않았습니다.

SyntaxError: ignored

In [ ]:
# 4)
iq = int(input("IQ를 적으시오"))

if iq >= 148:
  print('멘사에 가입할 수 있습니다.')
else:
  print('멘사에 가입할 수 없습니다.')

IQ를 적으시오148
멘사에 가입할 수 있습니다.

In [ ]:
# 5)
score = int(input("점수는? "))

if score >= 85:
  print("정규직 전환 가능")
else:
  print("정규직 전환 불가능")

점수는? 85
정규직 전환 가능

In [ ]:
# 6)
oil = int(input('현재 휘발유 양은?:'))

if oil < 10:
  print('휘발유 공급')
else:
  print("아직은 괜찮아요!")

현재 휘발유 양은?:11
아직은 괜찮아요!

In [ ]:
# 7)
total_credit = int(input("현재 이수 학점 : "))

if total_credit >= 140:
  print('졸업가능')
else:
  print('졸업불가능')

현재 이수 학점 : 140
졸업가능

In [ ]:
# 8)
card_money = int(input('현재 잔액 : '))

if card_money > 1200:
  print('버스 탑승 가능')
else:
  print('버스 탑승 불가능')

현재 잔액 : 1100
버스 탑승 불가능

In [ ]:
# 9)
river = int(input('강의 폭은? '))

if river > 30:
  print('강을 건널 수 없습니다.')
else:
  print("강을 건널 수 있습니다.")

강의 폭은? 35
강을 건널 수 없습니다.

In [ ]:
# 10)
aircon_d = int(input('현재 에어컨 온도는? '))

if aircon_d < 23:
  print('적정 온도가 아니니, 온도를 높여야 한다.')
else:
  print('적정 온도입니다.')

현재 에어컨 온도는? 22
적정 온도가 아니니, 온도를 높여야 한다.

In [ ]:
# 11)
vol = int(input('현재 음량은? '))

if vol >= 7:
  print('적정 음량보다 높다. 줄여야 한다.')
elif (vol < 1):
  print('오디오 음량이 아닙니다.')
else:
  ('적정음량입니다.')

현재 음량은? 10
적정 음량보다 높다. 줄여야 한다.

In [ ]:
# 12)
total_elec = int(input('전체 전기 총량 : '))
pre_elec = int(input('현재 전기 총량 : '))

if pre_elec < (total_elec * 0.3):
  print('전체 전기 총량의 30%보다 현재 전기량이 적으니, 휘발유로 주행해야 한다.')

전체 전기 총량 : 100
현재 전기 총량 : 20
전체 전기 총량의 30%보다 현재 전기량이 적으니, 휘발유로 주행해야 한다.

In [ ]:
# 13)
age = int(input('탑승객의 나이는? '))
height = int(input('탑승객의 신장은? '))

if (age < 19) and (height > 140):
  print("탑승가능하다.")
else:
  print('답승불가능하다.')

탑승객의 나이는? 19
탑승객의 신장은? 150
답승불가능하다.

In [ ]:
# 14)
canada = int(input('캐나다 대륙의 면적은?'))
china = int(input('중국 대륙의 면적은?'))

if china < canada:
  print('true')
else:
  print('false')

캐나다 대륙의 면적은?99
중국 대륙의 면적은?95
true

In [ ]:
# 15)
debit = int(input('현재 통장 잔액(만 원) : '))

if debit >= 300:
  print('주식 투자가 가능합니다.')
else:
  print('주식 투자가 불가능합니다.')

현재 통장 잔액(만 원) : 300
주식 투자가 가능합니다.

In [ ]:
# 16)
profit_percentage = int(input('이윤은? '))
profit_money = int(input('벌어들인 금액은? '))
if  (profit_percentage >= 10) or (profit_money >= 500):
  print('주식 투자를 잘한 것이다.')
else:
  print('주식 투자를 실패하였다.')

이윤은? 5
벌어들인 금액은? 540
주식 투자를 잘한 것이다.

In [ ]:
# 17)
major = str(input('학과 : '))
grade = input('학년 : ')

if (major == "컴퓨터과학과") and (grade == 4):
  print("문자가 온다.")
else:
  print('문자가 오지 않는다.')

학과 : 컴퓨터과학과
학년 : 3
문자가 오지 않는다.

In [ ]:
# 18)
coat_price = 33000
School_year = (input('학년은?'))

if School_year == "고3":
  coat_price = coat_price * 0.9
  print( coat_price, "원 입니다." )

학년은?고3
29700.0 원 입니다.

In [ ]:
# 19)
num = int(input("숫자를 입력하세요. "))

if (num % 3) == 0:
  print('3의 배수입니다.')
else:
  print('3의 배수가 아닙니다.')

숫자를 입력하세요. 33
3의 배수입니다.

In [ ]:
# 20)
number의 변수값을 정하는 프로그램이 존재하지 않는다.

In [ ]:
# 21)
apple = 1000
grape = 3000
pear = 2000
orange = 500

num_apple = int(input("사과의 개수 : "))
num_grape = int(input("포도의 개수 : "))
num_pear = int(input("배의 개수 : "))
num_orange = int(input("귤의 개수 : "))

total_fprice = (apple * num_apple) + (grape * num_grape) + (pear * num_pear) + (orange * num_orange)

if num_grape >= 3:
  print(total_fprice * 0.9, '원 입니다.' )
else:
  print(total_fprice,'원 입니다.')

사과의 개수 : 5
포도의 개수 : 5
배의 개수 : 5
귤의 개수 : 5
29250.0 원 입니다.

In [ ]:
# 22)
bank = str(input('은행 이름 : '))
way = str(input('방법 : '))
money_check = str(input('돈 or 수표 : '))

if (bank == "파이") and ((way == "카드") or (way == "통장")) and (money_check == "돈"):
  print('입금할 수 있다.')
else:
  print('입금 불가능하다.')

은행 이름 : 파이
방법 : 카드
돈 or 수표 : 수표
입금 불가능하다.

In [ ]:
# 23)
object_one = int(input('1과목 : '))
object_two = int(input('2과목 : '))
object_three = int(input('3과목 : '))

avg_object = (object_one + object_two + object_three) / 3

if ((object_one >= 60) and (object_two >= 60) and (object_three >= 60)) or (avg_object >= 70):
  print('자격증을 딸 수 있다.')
else:
  print('자격증을 딸 수 없다.')

1과목 : 90
2과목 : 70
3과목 : 50
자격증을 딸 수 있다.

In [ ]:
# 24)
num_semester = int(input('현재 학기는? '))
num_object = int(input('현재 이수 학점은? '))

if (num_semester < 8) and (num_object >= 140):
  print('조기졸업이 가능하다.')
else:
  print('조기졸업이 불가능하다.')

현재 학기는? 6
현재 이수 학점은? 150
조기졸업이 가능하다.