#알고리즘 훈련 문제 풀이
##성명:한규현 학과:경제학과 학번:12173082

In [ ]:
#1.K번째 약수
def q1(n,k):
  count=0 
  for i in range(1,n+1):
    if n % i == 0:
      count += 1 
    if count == k:
      return (i)
      break

  else:
    return(-1)

q1(6,3)

3

In [ ]:
#2.k번째 작은 수
def q2():
  T=int(input())
  for i in range(T):
    N,s,e,k = map(int,input().split())
    nums=list(map(int,input().split()))
    nums=nums[s-1:e]
    nums.sort()
    print("#",i+1," ",nums[k-1])
q2()

2
6 2 5 3
5 2 7 3 8 9
# 1   7
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15
# 2   6

In [ ]:
#3.k번쨰 큰 수
def q3():
  list_result=set()
  N,K = map(int,input().split())
  list_a = list(map(int,input().split()))
  for i in range(N):
   for j in range(i+1,N):
     for k in range(j+1,N):
       list_result.add(list_a[i]+list_a[j]+list_a[k])
  list_result=list(list_result)
  list_result.sort(reverse=True)
  return list_result[K-1]
q3()

10 3
13 15 34 23 45 65 33 11 26 42

143

In [ ]:
#4.대표값
def q4():
  N=int(input())
  a=list(map(int,input().split()))
  avg= sum(a)/N
  closest = abs(a[0]-avg)
  for i in range(1,len(a)):
    if abs(a[i]-avg) <closest:
      closest = abs(a[i]-avg)
      return a[i]
    elif abs(a[i]-avg) == closest:
        if a[i]-avg > cl
q4()

10
10 65 73 66 87 92 67 55 79 75 80

65

In [ ]:
#5.정다면체
def q5():
    N,M=map(int,input().split())
    result=[]
    for i in range(1,N+1):
        for j in range(1,M+1):
            result.append(i+j)
    maxi = 0
    for i in range(len(result)):
        if result.count(result[i]) > maxi:
            maxi = result.count(result[i])
    max_count = []
    for i in range(len(result)):
        if result.count(result[i]) == maxi:
            max_count.append(result[i])
    max_count = set(max_count)
    return max_count

print(q5())

4 6
{5, 6, 7}

In [ ]:
#6.자릿수 합
def digit_sum(a):
    list_a = list(map(int, list(str(a))))
    sum_a = 0
    for i in list_a:
        sum_a += i
        return sum_a

def q6():
    n = int(input())
    m = list(map(int, input().split()))
    maxi = 0
    for num in m:
        if digit_sum(num) > maxi:
            maxi = digit_sum(num)
    return num

print(q6())

3
125 15232 97
97

In [ ]:
#7.소수
def q7():
    x=int(input())
    prime = 0
    for i in range(2,x):
        count_list = []
        for j in range(2,i):
            if i % j ==0:
                count_list.append(i)
        if len(count_list) == 0:
            prime += 1
    return prime
print(q7())

20
8

In [ ]:
#8.뒤집은 소수
def reverse(x):
    x=str(x)
    for i in range(len(x)-1):
        if x[i] == "0":
            x = x[:i]
    x=x[::-1]
    x=int(x)
    return x

def isPrime(x):
    count = 0
    for i in range(2,x):
        if x % i == 0:
            count+=1
    if count == 0:
        return x


def q7():
    x=int(input())
    m = list(map(int, input().split()))
    answer = []
    for num in m:
        num = reverse(num)
        if type(isPrime(num)) == int:
            answer.append(isPrime(num))
    return answer


print(q7())

5
32 55 62 3700 250
[23, 73]

In [ ]:
#주사위게임
def q8():
    x=int(input())
    answer_list = []
    for i in range(x):
        list_a = list(map(int,input().split()))
        list_a.sort()
        a,b,c = list_a[0], list_a[1], list_a[2]
        if a == b and b == c:
            answer_list.append(10000+a*1000)
        elif a == b and b !=c:
            answer_list.append(1000+a*100)
        else:
            answer_list.append(a*100)
    return max(answer_list)



print(q8())

3
3 3 6
2 2 2
6 2 5
12000

In [14]:
#점수계산
def q9():
    x=int(input())
    q_list=list(map(int,input().split()))
    score_list=[]
    add = 0
    for i in range(len(q_list)):
        if q_list[i] == 1:
            add += 1
            score_list.append(add)
        elif q_list[i] == 0:
            add = 0
            score_list.append(add)
    return sum(score_list)

print(q9())

10
1 0 1 1 1 0 0 1 1 0
10